In [ ]:
from collections import OrderedDict
import json
import os
from os import listdir
from os.path import isfile, join
import pandas as pd
import psycopg2

from lib.data_tools import *

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

### Taxonomy by product
product groups to be defined by:
- property type
- loan purpose
- loan type
- lien status
- occupancy

Analysis variables to consider:
- action
- purchaser
- amount
- income
- preapproval
- rate spread
- race
- geo (national, MSA, state, tract)

### Create tables by product
- Include analysis variables
- Aggregate from tables

### April Edits
April Edits Tests:
- loan amount percentiles, mean, std dev, skew, kurtosis
- action frequency, percent, cumulative percent
- Race/Action matrix counts
- applicant sex frequency, percent, cumulative percent
- co applicant sex: frequency percent, cumulative percent
- race: frequency, percent, cumulative percent
- ethnicity if race=5: frequency, percent, cumulative percent
- income for action=1: percentiles, mean, stdev, skew, kurtosis
- income for action=3: percentiles, mean, stdev, skew, kurtosis
- income for action=1, loan_type=1: percentiles, mean, stdev, skew, kurtosis
- income for action=1, loan_type=2: percentiles, mean, stdev, skew, kurtosis
- purchaser type for loan_type=1, aciton=1: percentiles, mean, stdev, skew, kurtosis
- purchaser type for loan_type>1, aciton=1: percentiles, mean, stdev, skew, kurtosis
- rate spread precentiles, mean, stdev, skew, kurtosis
- inst name for lien=1, loantype=1, propertytype=1, spread>=15: frequency, percent
- inst name for lien=1, loantype=1, propertytype=2, spread>=15: frequency, percent
- denial1 if loantype=1, action=3: freq, percent, cumulative percent
- denial1 if loantype=2, action=3: freq, percent, cumulative percent
- denial1 if loanpurpose=3, aciton=3: freq, percent, cumulative percent
- frequency by state
- institutions with >10 single family, site-built, first lien, owner occupied, w/ rate spread >6.5 (hoepa)
- institutions with >10 single family, site-built, first lien, owner occupied, w/ rate spread >8.5 (hoepa)
- agency, rid, name, prior year app count, count state=00 for institutions w >=500 apps with state=00
- institutions with >=250 applications with action<=3 with all applications having a single race
- institutions with >=250 applications with action<=3 with all applications having a single ethnicity
- institutions with >=50 applications with action<=3 with all applications having a single sex
- institutions with >=50 applications with action<=3 with all applications having a single co-app sex or no co-app
- institutions with >=50 applications with action<=3 with >50% applications to same sex couples
- institions with >=100 originatios, where >=75% are home purchase or refi and >75% are junior liens or unsecured
- institutions with >=25 loans and >=50% of loans are over $10 million
- institutions with >=50 home purchase, first-lien owner-occupied loans where income is NA in >25% of loans
- institutions with >=50 home purchase, first-lien owner-occupied loans where income >=$1 million in >50% of loans
- institutions with >=50 home purchase, first-lien owner-occupied loans where income < $10k in >50% of loans
- institutions with >=100 FHA first-lien home purchase loans and none that are higher-priced
- institutions with >=100 manufactured loans and none that are higher-priced
- institutions with at least 100 loans and >50% are higher priced

In [27]:
#list of public HMDA data tables in PG
lar_tables = ["lar_2004_ffiec", "lar_2005_ffiec", "lar_2006_ffiec", "lar_2007_ffiec", "lar_2008_ffiec", "lar_2009_ffiec"
         ,"lar_2010_ffiec", "lar_2011_ffiec", "lar_2012_ffiec", "lar_2013_ffiec", "lar_2014_ffiec", "lar_2015_ffiec",
         "lar_2016_ffiec"]

#make list of production data tables in PG
prod_tables = []
lar_table = "lar_2018_01_"
for x in range(1,29):
    if len(str(x)) <2:
        x = "0" + str(x)
    else:
        x = str(x)
    prod_tables.append("s3_out."+lar_table+x)

In [ ]:
#Race/Action matrix counts

sql = """
SELECT * 
FROM crosstab( 
'SELECT action_taken_type, race1, count(race1)
from {table} group by 1,2 order by 1,2')  
AS final_result(
"action_type" varchar, 
"native" bigint, "asian" bigint, "black" bigint, "islander" bigint, "white" bigint, "no_info" bigint
,"NA" bigint)"""

In [28]:
#action frequency, percent, cumulative percent
def get_action_frequency(table):
    sql = """
    SELECT '2018' AS year, action_taken_type
    ,(ROUND(COUNT(action_taken_type) *100.0/ (SELECT COUNT(*) FROM {table}) )) AS freq_pct
    ,(CASE WHEN action_taken_type='1' THEN COUNT(action_taken_type) 
    WHEN action_taken_type='2' THEN COUNT(action_taken_type)  
    WHEN action_taken_type='3' THEN COUNT(action_taken_type) 
    WHEN action_taken_type='4' THEN COUNT(action_taken_type) 
    WHEN action_taken_type='5' THEN COUNT(action_taken_type) 
    WHEN action_taken_type='6' THEN COUNT(action_taken_type) 
    WHEN action_taken_type='7' THEN COUNT(action_taken_type)  
    WHEN action_taken_type='8' THEN COUNT(action_taken_type) END) AS action_count
    FROM {table}
    GROUP BY action_taken_type
    ORDER BY action_taken_type""".format(table=table)
    pg_conn.execute(sql)
    colnames = [desc[0] for desc in pg_conn.description]
    data_df = pd.DataFrame(pg_conn.fetchall(), columns=colnames)
    return data_df

first = True
pg_conn = connect()
for table in prod_tables:
    action_df = get_action_frequency(table)
    print(action_df.head())
    if first:
        first = False
        action_freq_df = action_df.copy()
    else:
        action_freq_df = pd.concat([action_freq_df, action_df])
        
pg_conn.close()

   year action_taken_type freq_pct  action_count
0  2018                 1      100           400
   year action_taken_type freq_pct  action_count
0  2018                 1       94           556
1  2018                 3        5            30
2  2018                 4        1             6
   year action_taken_type freq_pct  action_count
0  2018                 1       90          1498
1  2018                 3        4            71
2  2018                 4        5            88
3  2018                 5        1            11
   year action_taken_type freq_pct  action_count
0  2018                 1       81          9829
1  2018                 2        4           521
2  2018                 3        8           955
3  2018                 4        5           667
4  2018                 5        0            39
   year action_taken_type freq_pct  action_count
0  2018                 1       79         10488
1  2018                 2        4           567
2  2018                 3        8          1092
3  2018                 4        6           733
4  2018                 5        0            56
   year action_taken_type freq_pct  action_count
0  2018                 1       79         10488
1  2018                 2        4           567
2  2018                 3        8          1092
3  2018                 4        6           733
4  2018                 5        0            56
   year action_taken_type freq_pct  action_count
0  2018                 1       79         10488
1  2018                 2        4           567
2  2018                 3        8          1092
3  2018                 4        6           733
4  2018                 5        0            56
   year action_taken_type freq_pct  action_count
0  2018                 1       80         11668
1  2018                 2        4           587
2  2018                 3        8          1234
3  2018                 4        6           815
4  2018                 5        0            57
   year action_taken_type freq_pct  action_count
0  2018                 1       80         12259
1  2018                 2        4           607
2  2018                 3        9          1319
3  2018                 4        6           861
4  2018                 5        0            70
   year action_taken_type freq_pct  action_count
0  2018                 1       77         13644
1  2018                 2        4           656
2  2018                 3        9          1686
3  2018                 4        6          1153
4  2018                 5        1           265
   year action_taken_type freq_pct  action_count
0  2018                 1       77         17951
1  2018                 2        3           681
2  2018                 3        8          1899
3  2018                 4        9          1988
4  2018                 5        1           343
   year action_taken_type freq_pct  action_count
0  2018                 1       76         19257
1  2018                 2        3           750
2  2018                 3        9          2181
3  2018                 4        9          2218
4  2018                 5        1           352
   year action_taken_type freq_pct  action_count
0  2018                 1       76         19257
1  2018                 2        3           750
2  2018                 3        9          2181
3  2018                 4        9          2218
4  2018                 5        1           352
   year action_taken_type freq_pct  action_count
0  2018                 1       76         19257
1  2018                 2        3           750
2  2018                 3        9          2181
3  2018                 4        9          2218
4  2018                 5        1           352
   year action_taken_type freq_pct  action_count
0  2018                 1       76         22837
1  2018                 2        3           762
2  2018                 3        8          2501
3  2018                 4       10          3055
4  2018                 5        1           392
   year action_taken_type freq_pct  action_count
0  2018                 1       75         25336
1  2018                 2        3           952
2  2018                 3        9          2919
3  2018                 4       11          3608
4  2018                 5        2           549
   year action_taken_type freq_pct  action_count
0  2018                 1       48         38159
1  2018                 2        2          1606
2  2018                 3       17         13131
3  2018                 4       31         24480
4  2018                 5        1           800
   year action_taken_type freq_pct  action_count
0  2018                 1       50         44114
1  2018                 2        2          1747
2  2018                 3       16         14320
3  2018                 4       29         25973
4  2018                 5        1          1319
   year action_taken_type freq_pct  action_count
0  2018                 1       52         52590
1  2018                 2        2          2241
2  2018                 3       15         15348
3  2018                 4       28         28568
4  2018                 5        2          1533
   year action_taken_type freq_pct  action_count
0  2018                 1       52         52630
1  2018                 2        2          2260
2  2018                 3       15         15361
3  2018                 4       28         28570
4  2018                 5        2          1533
   year action_taken_type freq_pct  action_count
0  2018                 1       52         52630
1  2018                 2        2          2260
2  2018                 3       15         15361
3  2018                 4       28         28570
4  2018                 5        2          1533
   year action_taken_type freq_pct  action_count
0  2018                 1       54         60602
1  2018                 2        2          2484
2  2018                 3       15         16588
3  2018                 4       27         30411
4  2018                 5        1          1638
   year action_taken_type freq_pct  action_count
0  2018                 1       53         74593
1  2018                 2        3          3791
2  2018                 3       16         22995
3  2018                 4       26         36953
4  2018                 5        2          2486
   year action_taken_type freq_pct  action_count
0  2018                 1       54         83497
1  2018                 2        3          3901
2  2018                 3       16         23909
3  2018                 4       25         38082
4  2018                 5        2          3209
   year action_taken_type freq_pct  action_count
0  2018                 1       55         92930
1  2018                 2        3          4238
2  2018                 3       15         26083
3  2018                 4       24         39992
4  2018                 5        2          3711
   year action_taken_type freq_pct  action_count
0  2018                 1       56        102450
1  2018                 2        2          4469
2  2018                 3       15         27831
3  2018                 4       23         42690
4  2018                 5        2          4045
   year action_taken_type freq_pct  action_count
0  2018                 1       56        103447
1  2018                 2        2          4514
2  2018                 3       15         28008
3  2018                 4       23         42809
4  2018                 5        2          4052
   year action_taken_type freq_pct  action_count
0  2018                 1       56        105648
1  2018                 2        2          4542
2  2018                 3       15         28224
3  2018                 4       23         43636
4  2018                 5        2          4068

In [ ]:
#income_metrics = get_lar_stats("income", lar_tables)
sf_purch_conv_occ_first = "WHERE property_type='1' AND purpose='1' AND loan_type='1' AND occupancy='1' AND lien_status='1'"
sf_purch_conv_occ_junior = "WHERE property_type='1' AND purpose='1' AND loan_type='1' AND occupancy='1' AND lien_status='2'"


s_fam_amount = get_lar_stats("amount", prod_tables, 
     "WHERE property_type='1' AND purpose='1' AND loan_type='1' AND occupancy='1' AND lien_status='1'")
s_fam_amount_df = pd.DataFrame(s_fam_amount)
s_fam_amount_df

#NOTE income analysis needs to handle 'NA   '. This can be addressed on the SQL table by stripping extra white space.
#write code to standardize all NA values to'NA'

In [4]:
#Race by Action taken
            # - count
            # - percentage of total

            #Check metrics by summing components
            #check top 10-20 lenders along these metrics to see if big changes happen
            #cut by geography, lender
#action frequency, percent, cumulative percent

In [5]:
s_fam_inc = get_lar_stats("income", table_list=prod_tables, where="WHERE property_type='1' AND income NOT LIKE '%NA%'")

pulling metrics for: s3_out.lar_2018_01_17
pulling metrics for: s3_out.lar_2018_01_18
pulling metrics for: s3_out.lar_2018_01_19
pulling metrics for: s3_out.lar_2018_01_20
pulling metrics for: s3_out.lar_2018_01_21
pulling metrics for: s3_out.lar_2018_01_22
pulling metrics for: s3_out.lar_2018_01_23
pulling metrics for: s3_out.lar_2018_01_24
pulling metrics for: s3_out.lar_2018_01_25