In [10]:
from collections import OrderedDict
import json
import os
from os import listdir
from os.path import isfile, join
import pandas as pd
import psycopg2

from lib.data_tools import *
from lib.data_tools import get_sql_results_df, compile_dfs

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

def get_sql_results_df(table, sql, cur, table2=None):
    if not table2:
        sql=sql.format(table=table)
    else:
        table2 = table[:4] + str(int(table[4:8])-1) + "_ffiec"
        sql=sql.format(table=table, table2=table2)
    cur.execute(sql)
    colnames = [desc[0] for desc in cur.description]
    data_df = pd.DataFrame(cur.fetchall(), columns=colnames)
    return data_df

def compile_dfs(tables, outfile, sql, table2=None):
    cur=connect()
    first = True
    for table in tables:
        year = table[4:8]
        data_df = get_sql_results_df(table, sql, cur, table2)
        data_df["year"] = year
        print(data_df.head())
        if first:
            first = False
            data_out_df = data_df.copy()
        else:
            data_out_df = pd.concat([data_out_df, data_df])
    data_out_df.to_csv("../output/"+outfile+".csv", sep="|", index=False)
    cur.close()
    return data_out_df

In [12]:
#list of public HMDA data tables in PG
lar_tables = ["lar_2004_ffiec", "lar_2005_ffiec", "lar_2006_ffiec", "lar_2007_ffiec", "lar_2008_ffiec", "lar_2009_ffiec"
         ,"lar_2010_ffiec", "lar_2011_ffiec", "lar_2012_ffiec", "lar_2013_ffiec", "lar_2014_ffiec", "lar_2015_ffiec",
         "lar_2016_ffiec"]

In [4]:
#Set up filters (where clauses) to build aggregate data 
#sf = single family, purch = purchase loan, conv = conventional loan 
#occ = owner occupied, first = first lien
sf_purch_conv_occ_first = "WHERE property_type='1' AND purpose='1' AND loan_type='1' AND occupancy='1' AND lien='1'"
#sf = single family, purch = purchase loan, conv = conventional loan, 
#occ = owner occupied, junior = junior lien
sf_purch_conv_occ_junior = "WHERE property_type='1' AND purpose='1' AND loan_type='1' AND occupancy='1' AND lien='2'"

sf_purch_conv_occ_first_amt_df = pd.DataFrame(get_lar_stats("amount", lar_tables, 
                                                            where=sf_purch_conv_occ_first))
sf_purch_conv_occ_first_amt_df.to_csv("../output/sf_purch_conv_occ_first_amt.csv", sep="|", index=False)


sf_purch_conv_occ_junior_amt_df=pd.DataFrame(get_lar_stats("amount", lar_tables, 
                                                           where=sf_purch_conv_occ_junior))

sf_purch_conv_occ_junior_amt_df.to_csv("../output/sf_purch_conv_occ_junior_amt.csv", sep="|", index=False)

pulling metrics for: lar_2004_ffiec
pulling metrics for: lar_2005_ffiec
pulling metrics for: lar_2006_ffiec
pulling metrics for: lar_2007_ffiec
pulling metrics for: lar_2008_ffiec
pulling metrics for: lar_2009_ffiec
pulling metrics for: lar_2010_ffiec
pulling metrics for: lar_2011_ffiec
pulling metrics for: lar_2012_ffiec
pulling metrics for: lar_2013_ffiec
pulling metrics for: lar_2014_ffiec
pulling metrics for: lar_2015_ffiec
pulling metrics for: lar_2016_ffiec
pulling metrics for: lar_2004_ffiec
pulling metrics for: lar_2005_ffiec
pulling metrics for: lar_2006_ffiec
pulling metrics for: lar_2007_ffiec
pulling metrics for: lar_2008_ffiec
pulling metrics for: lar_2009_ffiec
pulling metrics for: lar_2010_ffiec
pulling metrics for: lar_2011_ffiec
pulling metrics for: lar_2012_ffiec
pulling metrics for: lar_2013_ffiec
pulling metrics for: lar_2014_ffiec
pulling metrics for: lar_2015_ffiec
pulling metrics for: lar_2016_ffiec

In [5]:
sf_purch_conv_occ_first = "WHERE property_type='1' AND purpose='1' AND loan_type='1' AND occupancy='1' AND lien='1'"
sf_purch_conv_occ_junior = "WHERE property_type='1' AND purpose='1' AND loan_type='1' AND occupancy='1' AND lien='2'"
inc_na_where = " AND income NOT LIKE '%NA%' AND income not like '%na%' "
sf_purch_conv_occ_first_inc_df = pd.DataFrame(get_lar_stats("income", lar_tables, 
                                                    where=sf_purch_conv_occ_first+inc_na_where))

sf_purch_conv_occ_first_inc_df.to_csv("../output/sf_purch_conv_occ_first_inc.csv", sep="|", index=False)

sf_purch_conv_occ_junior_inc_df=pd.DataFrame(get_lar_stats("income", lar_tables, 
                                                   where=sf_purch_conv_occ_junior + inc_na_where))
sf_purch_conv_occ_junior_inc_df.to_csv("../output/sf_purch_conv_occ_junior_inc.csv", sep="|", index=False)

pulling metrics for: lar_2004_ffiec
pulling metrics for: lar_2005_ffiec
pulling metrics for: lar_2006_ffiec
pulling metrics for: lar_2007_ffiec
pulling metrics for: lar_2008_ffiec
pulling metrics for: lar_2009_ffiec
pulling metrics for: lar_2010_ffiec
pulling metrics for: lar_2011_ffiec
pulling metrics for: lar_2012_ffiec
pulling metrics for: lar_2013_ffiec
pulling metrics for: lar_2014_ffiec
pulling metrics for: lar_2015_ffiec
pulling metrics for: lar_2016_ffiec
pulling metrics for: lar_2004_ffiec
pulling metrics for: lar_2005_ffiec
pulling metrics for: lar_2006_ffiec
pulling metrics for: lar_2007_ffiec
pulling metrics for: lar_2008_ffiec
pulling metrics for: lar_2009_ffiec
pulling metrics for: lar_2010_ffiec
pulling metrics for: lar_2011_ffiec
pulling metrics for: lar_2012_ffiec
pulling metrics for: lar_2013_ffiec
pulling metrics for: lar_2014_ffiec
pulling metrics for: lar_2015_ffiec
pulling metrics for: lar_2016_ffiec

In [6]:
#action frequency, percent, cumulative percent
cur = connect()
def get_action_frequency(table):
    sql = """
    SELECT year, action
    ,(ROUND(COUNT(action) *100.0/ (SELECT COUNT(*) FROM {table}) )) AS freq_pct
    ,(CASE WHEN action='1' THEN COUNT(action) 
    WHEN action='2' THEN COUNT(action)  
    WHEN action='3' THEN COUNT(action) 
    WHEN action='4' THEN COUNT(action) 
    WHEN action='5' THEN COUNT(action) 
    WHEN action='6' THEN COUNT(action) 
    WHEN action='7' THEN COUNT(action)  
    WHEN action='8' THEN COUNT(action) END) AS action_count
    FROM {table}
    GROUP BY year, action
    ORDER BY action""".format(table=table)
    cur.execute(sql)
    colnames = [desc[0] for desc in cur.description]
    data_df = pd.DataFrame(cur.fetchall(), columns=colnames)
    return data_df

first = True
for table in lar_tables:
    action_df = get_action_frequency(table)
    print(action_df.head())
    if first:
        first = False
        action_freq_df = action_df.copy()
    else:
        action_freq_df = pd.concat([action_freq_df, action_df])
action_freq_df.to_csv("../output/action_freq.csv", sep="|", index=False)

   year action freq_pct  action_count
0  2004      1       45      15039576
1  2004      2        7       2386881
2  2004      3       18       6039944
3  2004      4       11       3618966
4  2004      5        3       1065249
   year action freq_pct  action_count
0  2005      1       43      15638296
1  2005      2        6       2367332
2  2005      3       18       6696898
3  2005      4       12       4295338
4  2005      5        3       1194858
   year action freq_pct  action_count
0  2006      1       41      14011262
1  2006      2        7       2411194
2  2006      3       19       6576564
3  2006      4       10       3564168
4  2006      5        3        944686
   year action freq_pct  action_count
0  2007      1       39      10480107
1  2007      2        7       1922006
2  2007      3       22       5962923
3  2007      4        9       2335744
4  2007      5        3        746999
   year action freq_pct  action_count
0  2008      1       41       7234207
1  2008      2        6       1120207
2  2008      3       23       3990257
3  2008      4        9       1551059
4  2008      5        2        424684
   year action freq_pct  action_count
0  2009      1       46       8973624
1  2009      2        4        857834
2  2009      3       16       3059363
3  2009      4        9       1718422
4  2009      5        2        447363
   year action freq_pct  action_count
0  2010      1       49       8139122
1  2010      2        4        696758
2  2010      3       16       2611949
3  2010      4        9       1456921
4  2010      5        3        446150
   year action freq_pct  action_count
0  2011      1       48       7122485
1  2011      2        4        615202
2  2011      3       16       2385881
3  2011      4        8       1239516
4  2011      5        3        419246
   year action freq_pct  action_count
0  2012      1       52       9827954
1  2012      2        4        715791
2  2012      3       15       2776347
3  2012      4        8       1515442
4  2012      5        3        539787
   year action freq_pct  action_count
0  2013      1       51       8744387
1  2013      2        4        645684
2  2013      3       16       2688730
3  2013      4        8       1402499
4  2013      5        3        552483
   year action freq_pct  action_count
0  2014      1       50       5979766
1  2014      2        4        418739
2  2014      3       17       2042477
3  2014      4        9       1108367
4  2014      5        3        383909
   year action freq_pct  action_count
0  2015      1       52       7404258
1  2015      2        3        404755
2  2015      3       16       2274913
3  2015      4       10       1475218
4  2015      5        4        535339
   year action freq_pct  action_count
0  2016      1       51       8377907
1  2016      2        3        436074
2  2016      3       16       2683178
3  2016      4       11       1748355
4  2016      5        4        680288

In [7]:
#Race/Action matrix counts
cur=connect()
def get_action_race_tab(table):

    sql = """--CREATE EXTENSION tablefunc;
   SELECT * 
    FROM crosstab( 
    'SELECT action, race_1, count(race_1)
    from {table} group by 1,2 order by 1,2')  
    AS final_result(
    "action_type" varchar, 
    "native" bigint, "asian" bigint, "black" bigint, "islander" bigint, "white" bigint, 
    "no_info" bigint,"NA" bigint)""".format(table=table)
    cur.execute(sql)
    colnames = [desc[0] for desc in cur.description]
    data_df = pd.DataFrame(cur.fetchall(), columns=colnames)
    return data_df

first = True
for table in lar_tables:
    year = table[4:8]
    action_race_df = get_action_race_tab(table)
    action_race_df["year"] = year
    print(action_race_df.head())
    if first:
        first = False
        action_race_freq_df = action_race_df.copy()
    else:
        action_race_freq_df = pd.concat([action_race_freq_df, action_race_df])
action_race_freq_df.to_csv("../output/action_race_freq_df.csv", sep="|", index=False)

  action_type  native   asian    black  islander     white  no_info      NA  \
0           1  140056  615750  1124835     91750  10934368  1957773  175044
1           2   26445  104673   245225     16263   1452744   506430   35101
2           3   86952  158821   768290     38793   3404770  1546070   36248
3           4   39364   98713   310730     25007   1969340  1148152   27660
4           5   10482   28601    90611      5250    571880   348372   10053

   year
0  2004
1  2004
2  2004
3  2004
4  2004
  action_type  native   asian    black  islander     white  no_info     NA  \
0           1  134501  632885  1294412     99835  11530293  1855763  90607
1           2   24169  108135   255840     17915   1484225   473689   3359
2           3   86641  195822   921086     45584   3918036  1525795   3934
3           4   58794  117950   418745     26779   2384891  1280282   7897
4           5    9840   31847    99027      5910    630546   416815    873

   year
0  2005
1  2005
2  2005
3  2005
4  2005
  action_type  native   asian    black  islander     white  no_info     NA  \
0           1  105418  541865  1275624     85638  10287480  1625817  89420
1           2   22935  108878   261533     18463   1528098   468596   2691
2           3   86902  197134   996446     47419   3922039  1322602   4022
3           4   31917  102042   397554     21721   1963253  1043598   4083
4           5    7070   26424    99168      5122    514387   291778    737

   year
0  2006
1  2006
2  2006
3  2006
4  2006
  action_type  native   asian   black  islander    white  no_info     NA  year
0           1   71680  396350  816664     53650  7869520  1173267  98976  2007
1           2   17738   89126  187347     12855  1290958   321546   2436  2007
2           3   89974  182334  887872     44060  3694287  1058944   5452  2007
3           4   24102   71557  243408     13389  1392665   587273   3350  2007
4           5    5351   22075   79081      3641   438720   197476    655  2007
  action_type  native   asian   black  islander    white  no_info      NA  \
0           1   42636  278327  440845     31198  5622132   711047  108022
1           2    8838   55168   86842      6030   795424   164252    3653
2           3   59868  130453  528658     26518  2647960   589730    7070
3           4   14804   61554  135618      7631  1051143   277113    3196
4           5    3516   20098   43605      2230   279271    75338     626

   year
0  2008
1  2008
2  2008
3  2008
4  2008
  action_type  native   asian   black  islander    white  no_info     NA  year
0           1   43408  406455  385233     31697  7165724   860028  81079  2009
1           2    5541   50161   51419      3923   632604   112262   1924  2009
2           3   29372  121957  292498     15856  2125442   469288   4950  2009
3           4   15298   75183  108606      6811  1210259   299884   2381  2009
4           5    3585   22779   36276      2085   299275    83012    351  2009
  action_type  native   asian   black  islander    white  no_info     NA  year
0           1   36541  431634  323734     25718  6468042   782647  70806  2010
1           2    4473   40923   37864      2639   518487    90610   1762  2010
2           3   22896  115031  227445     11416  1838816   392254   4091  2010
3           4   12122   69836   85046      5424  1023643   258709   2141  2010
4           5    2331   23305   22467      1619   287017   109094    317  2010
  action_type  native   asian   black  islander    white  no_info     NA  year
0           1   32940  388014  289925     22557  5636410   670540  82099  2011
1           2    4316   38780   35849      2220   456698    75041   2298  2011
2           3   20746  109073  211911     10917  1673395   354653   5186  2011
3           4    6358   61405   72480      4529   877203   214821   2720  2011
4           5    2447   23978   21101      1627   264372   105411    310  2011
  action_type  native   asian   black  islander    white  no_info      NA  \
0           1   43927  567936  393222     32251  7772348   917378  100892
1           2    4976   43407   41257      2687   522928    97369    3167
2           3   24417  135358  243808     12834  1939995   413235    6700
3           4    7581   75863   82595      5642  1070846   269278    3637
4           5    3226   32285   30165      2488   358007   113135     481

   year
0  2012
1  2012
2  2012
3  2012
4  2012
  action_type  native   asian   black  islander    white  no_info      NA  \
0           1   45384  475311  408905     31178  6844061   826890  112658
1           2    5342   38807   43460      2643   468443    83343    3646
2           3   26495  126512  261234     13210  1853423   400718    7138
3           4    8419   70663   84637      5863   999252   229166    4499
4           5    3753   32439   37464      2717   362048   113424     638

   year
0  2013
1  2013
2  2013
3  2013
4  2013
  action_type  native   asian   black  islander    white  no_info      NA  \
0           1   36771  317827  317104     22686  4630440   544787  110151
1           2    4041   21822   32900      1749   303272    51237    3718
2           3   24770   89086  233384     10938  1381813   295695    6791
3           4    8361   59756   79890      5007   793463   157345    4545
4           5    3317   21801   30786      1948   252740    72642     675

   year
0  2014
1  2014
2  2014
3  2014
4  2014
  action_type  native   asian   black  islander    white  no_info      NA  \
0           1   43439  404243  393563     28257  5693135   709257  132364
1           2    3041   24252   29626      1764   295971    46074    4027
2           3   27117  103566  259676     12425  1527010   336023    9096
3           4   12133   80879  109563      7018  1052569   204933    8123
4           5    5883   27280   50080      2633   358153    90468     842

   year
0  2015
1  2015
2  2015
3  2015
4  2015
  action_type  native   asian   black  islander    white  no_info      NA  \
0           1   50943  485915  466894     34758  6325591   870431  143375
1           2    3454   25745   33350      1917   314300    52704    4604
2           3   34549  124739  306951     15608  1777602   414473    9256
3           4   15330  101670  134757      9377  1228253   251471    7497
4           5    7985   35647   66438      3764   446323   119086    1045

   year
0  2016
1  2016
2  2016
3  2016
4  2016

In [8]:
#Race/Action matrix counts
#Could group by MSA and filter lenders for highest delta from race pattern in MSA

    
sql = """
        --CREATE EXTENSION tablefunc;
        SELECT * 
        FROM crosstab( 
        'SELECT action, race_1, COUNT(race_1)
        FROM {table} GROUP BY 1,2 ORDER BY 1,2')  

    AS final_result(
    "action" varchar, 
    "native" bigint, "asian" bigint, "black" bigint, "islander" bigint, "white" bigint, "no_info" bigint
    ,"NA" bigint)"""

race_action_crosstab_df = compile_dfs(lar_tables, "race_action_crosstab", sql)

  action  native   asian    black  islander     white  no_info      NA  year
0      1  140056  615750  1124835     91750  10934368  1957773  175044  2004
1      2   26445  104673   245225     16263   1452744   506430   35101  2004
2      3   86952  158821   768290     38793   3404770  1546070   36248  2004
3      4   39364   98713   310730     25007   1969340  1148152   27660  2004
4      5   10482   28601    90611      5250    571880   348372   10053  2004
  action  native   asian    black  islander     white  no_info     NA  year
0      1  134501  632885  1294412     99835  11530293  1855763  90607  2005
1      2   24169  108135   255840     17915   1484225   473689   3359  2005
2      3   86641  195822   921086     45584   3918036  1525795   3934  2005
3      4   58794  117950   418745     26779   2384891  1280282   7897  2005
4      5    9840   31847    99027      5910    630546   416815    873  2005
  action  native   asian    black  islander     white  no_info     NA  year
0      1  105418  541865  1275624     85638  10287480  1625817  89420  2006
1      2   22935  108878   261533     18463   1528098   468596   2691  2006
2      3   86902  197134   996446     47419   3922039  1322602   4022  2006
3      4   31917  102042   397554     21721   1963253  1043598   4083  2006
4      5    7070   26424    99168      5122    514387   291778    737  2006
  action  native   asian   black  islander    white  no_info     NA  year
0      1   71680  396350  816664     53650  7869520  1173267  98976  2007
1      2   17738   89126  187347     12855  1290958   321546   2436  2007
2      3   89974  182334  887872     44060  3694287  1058944   5452  2007
3      4   24102   71557  243408     13389  1392665   587273   3350  2007
4      5    5351   22075   79081      3641   438720   197476    655  2007
  action  native   asian   black  islander    white  no_info      NA  year
0      1   42636  278327  440845     31198  5622132   711047  108022  2008
1      2    8838   55168   86842      6030   795424   164252    3653  2008
2      3   59868  130453  528658     26518  2647960   589730    7070  2008
3      4   14804   61554  135618      7631  1051143   277113    3196  2008
4      5    3516   20098   43605      2230   279271    75338     626  2008
  action  native   asian   black  islander    white  no_info     NA  year
0      1   43408  406455  385233     31697  7165724   860028  81079  2009
1      2    5541   50161   51419      3923   632604   112262   1924  2009
2      3   29372  121957  292498     15856  2125442   469288   4950  2009
3      4   15298   75183  108606      6811  1210259   299884   2381  2009
4      5    3585   22779   36276      2085   299275    83012    351  2009
  action  native   asian   black  islander    white  no_info     NA  year
0      1   36541  431634  323734     25718  6468042   782647  70806  2010
1      2    4473   40923   37864      2639   518487    90610   1762  2010
2      3   22896  115031  227445     11416  1838816   392254   4091  2010
3      4   12122   69836   85046      5424  1023643   258709   2141  2010
4      5    2331   23305   22467      1619   287017   109094    317  2010
  action  native   asian   black  islander    white  no_info     NA  year
0      1   32940  388014  289925     22557  5636410   670540  82099  2011
1      2    4316   38780   35849      2220   456698    75041   2298  2011
2      3   20746  109073  211911     10917  1673395   354653   5186  2011
3      4    6358   61405   72480      4529   877203   214821   2720  2011
4      5    2447   23978   21101      1627   264372   105411    310  2011
  action  native   asian   black  islander    white  no_info      NA  year
0      1   43927  567936  393222     32251  7772348   917378  100892  2012
1      2    4976   43407   41257      2687   522928    97369    3167  2012
2      3   24417  135358  243808     12834  1939995   413235    6700  2012
3      4    7581   75863   82595      5642  1070846   269278    3637  2012
4      5    3226   32285   30165      2488   358007   113135     481  2012
  action  native   asian   black  islander    white  no_info      NA  year
0      1   45384  475311  408905     31178  6844061   826890  112658  2013
1      2    5342   38807   43460      2643   468443    83343    3646  2013
2      3   26495  126512  261234     13210  1853423   400718    7138  2013
3      4    8419   70663   84637      5863   999252   229166    4499  2013
4      5    3753   32439   37464      2717   362048   113424     638  2013
  action  native   asian   black  islander    white  no_info      NA  year
0      1   36771  317827  317104     22686  4630440   544787  110151  2014
1      2    4041   21822   32900      1749   303272    51237    3718  2014
2      3   24770   89086  233384     10938  1381813   295695    6791  2014
3      4    8361   59756   79890      5007   793463   157345    4545  2014
4      5    3317   21801   30786      1948   252740    72642     675  2014
  action  native   asian   black  islander    white  no_info      NA  year
0      1   43439  404243  393563     28257  5693135   709257  132364  2015
1      2    3041   24252   29626      1764   295971    46074    4027  2015
2      3   27117  103566  259676     12425  1527010   336023    9096  2015
3      4   12133   80879  109563      7018  1052569   204933    8123  2015
4      5    5883   27280   50080      2633   358153    90468     842  2015
  action  native   asian   black  islander    white  no_info      NA  year
0      1   50943  485915  466894     34758  6325591   870431  143375  2016
1      2    3454   25745   33350      1917   314300    52704    4604  2016
2      3   34549  124739  306951     15608  1777602   414473    9256  2016
3      4   15330  101670  134757      9377  1228253   251471    7497  2016
4      5    7985   35647   66438      3764   446323   119086    1045  2016

In [9]:
#applicant sex frequency, percent, cumulative percent

sql="""    SELECT year, app_sex
    ,(ROUND(COUNT(app_sex) *100.0/ (SELECT COUNT(*) FROM {table}) )) AS freq_pct
    ,COUNT(app_sex)
    FROM {table}
    GROUP BY year, app_sex
    ORDER BY app_sex"""

app_sex_count_df = compile_dfs(lar_tables, "app_sex_count", sql)

   year app_sex freq_pct     count
0  2004       1       59  19856343
1  2004       2       27   9015409
2  2004       3        6   2120023
3  2004       4        8   2638699
   year app_sex freq_pct     count
0  2005       1       57  20951405
1  2005       2       28  10180812
2  2005       3        7   2434585
3  2005       4        8   2890434
   year app_sex freq_pct     count
0  2006       1       54  18368256
1  2006       2       28   9522450
2  2006       3        7   2449426
3  2006       4       11   3815228
   year app_sex freq_pct     count
0  2007       1       56  15069150
1  2007       2       28   7499350
2  2007       3        7   1826881
3  2007       4        9   2306711
   year app_sex freq_pct     count
0  2008       1       59  10340093
1  2008       2       27   4760731
2  2008       3        6   1119714
3  2008       4        7   1310702
   year app_sex freq_pct     count
0  2009       1       59  11595453
1  2009       2       24   4728230
2  2009       3        6   1128961
3  2009       4       11   2121848
   year app_sex freq_pct     count
0  2010       1       62  10324746
1  2010       2       25   4124174
2  2010       3        6   1068031
3  2010       4        7   1235029
   year app_sex freq_pct    count
0  2011       1       60  8948506
1  2011       2       24  3578386
2  2011       3        6   920863
3  2011       4       10  1458691
   year app_sex freq_pct     count
0  2012       1       62  11601554
1  2012       2       24   4485884
2  2012       3        6   1159939
3  2012       4        8   1504684
   year app_sex freq_pct     count
0  2013       1       60  10205399
1  2013       2       25   4243756
2  2013       3        6   1045636
3  2013       4        9   1518546
   year app_sex freq_pct    count
0  2014       1       58  6893910
1  2014       2       25  2970388
2  2014       3        6   713509
3  2014       4       11  1297657
   year app_sex freq_pct    count
0  2015       1       58  8321756
1  2015       2       25  3565129
2  2015       3        6   857304
3  2015       4       11  1629995
   year app_sex freq_pct    count
0  2016       1       58  9526085
1  2016       2       25  4127128
2  2016       3        6  1045053
3  2016       4       10  1634721

In [10]:
sql="""  SELECT year, co_app_sex
    ,(ROUND(COUNT(co_app_sex) *100.0/ (SELECT COUNT(*) FROM {table}) )) AS freq_pct
    ,COUNT(co_app_sex)
    FROM {table}
    GROUP BY year, co_app_sex
    ORDER BY co_app_sex"""
co_app_sex_count_df = compile_dfs(lar_tables, "co_app_sex_count", sql)

   year co_app_sex freq_pct     count
0  2004          1        7   2433713
1  2004          2       32  10731439
2  2004          3        3   1135033
3  2004          4        8   2764622
4  2004          5       49  16565667
   year co_app_sex freq_pct     count
0  2005          1        7   2717919
1  2005          2       29  10435613
2  2005          3        3   1183541
3  2005          4        8   2815036
4  2005          5       53  19305127
   year co_app_sex freq_pct     count
0  2006          1        7   2460981
1  2006          2       25   8552549
2  2006          3        4   1270232
3  2006          4       10   3421646
4  2006          5       54  18449952
   year co_app_sex freq_pct     count
0  2007          1        8   2091662
1  2007          2       28   7433801
2  2007          3        3    933409
3  2007          4        7   1810464
4  2007          5       54  14432756
   year co_app_sex freq_pct    count
0  2008          1        8  1487998
1  2008          2       32  5627402
2  2008          3        3   571531
3  2008          4        5   889336
4  2008          5       51  8954973
   year co_app_sex freq_pct    count
0  2009          1        8  1491804
1  2009          2       36  6985855
2  2009          3        3   645155
3  2009          4        9  1709731
4  2009          5       45  8741947
   year co_app_sex freq_pct    count
0  2010          1        8  1273046
1  2010          2       37  6213666
2  2010          3        4   621344
3  2010          4        5   874439
4  2010          5       46  7769485
   year co_app_sex freq_pct    count
0  2011          1        7  1077182
1  2011          2       35  5250323
2  2011          3        3   508967
3  2011          4        7  1115759
4  2011          5       47  6954215
   year co_app_sex freq_pct    count
0  2012          1        7  1363073
1  2012          2       37  6947594
2  2012          3        3   637467
3  2012          4        7  1266282
4  2012          5       46  8537645
   year co_app_sex freq_pct    count
0  2013          1        7  1248428
1  2013          2       33  5689434
2  2013          3        3   560091
3  2013          4        8  1324006
4  2013          5       48  8191378
   year co_app_sex freq_pct    count
0  2014          1        7   870415
1  2014          2       30  3547451
2  2014          3        3   360183
3  2014          4        9  1113209
4  2014          5       50  5984206
   year co_app_sex freq_pct    count
0  2015          1        7  1065345
1  2015          2       30  4299841
2  2015          3        3   436801
3  2015          4       10  1376526
4  2015          5       50  7195671
   year co_app_sex freq_pct    count
0  2016          1        8  1241265
1  2016          2       30  4827916
2  2016          3        3   529273
3  2016          4        8  1370701
4  2016          5       51  8363832

In [11]:
sql = """SELECT year, race_1
    ,(ROUND(COUNT(race_1) *100.0/ (SELECT COUNT(*) FROM {table}) )) AS freq_pct
    ,COUNT(race_1)
    FROM {table}
    GROUP BY year, race_1
    ORDER BY race_1"""
race_freq_df = compile_dfs(lar_tables, "race_freq", sql)

   year race_1 freq_pct     count
0  2004      1        1    328084
1  2004      2        3   1133243
2  2004      3        8   2764040
3  2004      4        1    196331
4  2004      5       61  20351133
   year race_1 freq_pct     count
0  2005      1        1    343006
1  2005      2        3   1243237
2  2005      3        9   3263277
3  2005      4        1    218775
4  2005      5       62  22461104
   year race_1 freq_pct     count
0  2006      1        1    277430
1  2006      2        3   1100355
2  2006      3       10   3296935
3  2006      4        1    211957
4  2006      5       59  20238822
   year race_1 freq_pct     count
0  2007      1        1    229957
1  2007      2        3    896763
2  2007      3        9   2471941
3  2007      4        1    145498
4  2007      5       64  16964653
   year race_1 freq_pct     count
0  2008      1        1    142367
1  2008      2        4    633542
2  2008      3        8   1410143
3  2008      4        0     84438
4  2008      5       68  11899321
   year race_1 freq_pct     count
0  2009      1        1    110059
1  2009      2        4    782528
2  2009      3        5   1043310
3  2009      4        0     70977
4  2009      5       69  13412761
   year race_1 freq_pct     count
0  2010      1        1     89554
1  2010      2        5    788582
2  2010      3        5    841433
3  2010      4        0     55955
4  2010      5       71  11922097
   year race_1 freq_pct     count
0  2011      1        1     76029
1  2011      2        5    708563
2  2011      3        5    744378
3  2011      4        0     49773
4  2011      5       69  10305542
   year race_1 freq_pct     count
0  2012      1        0     93441
1  2012      2        5    967696
2  2012      3        5    900103
3  2012      4        0     63724
4  2012      5       71  13246609
   year race_1 freq_pct     count
0  2013      1        1     97409
1  2013      2        5    828136
2  2013      3        6    936952
3  2013      4        0     62052
4  2013      5       69  11789649
   year race_1 freq_pct    count
0  2014      1        1    83355
1  2014      2        5   547346
2  2014      3        6   760169
3  2014      4        0    46020
4  2014      5       67  7946477
   year race_1 freq_pct    count
0  2015      1        1    97285
1  2015      2        5   680243
2  2015      3        6   909002
3  2015      4        0    55848
4  2015      5       66  9545877
   year race_1 freq_pct     count
0  2016      1        1    118466
1  2016      2        5    830445
2  2016      3        7   1078145
3  2016      4        0     69926
4  2016      5       66  10811812

In [12]:
sql = """SELECT year, app_eth
    ,(ROUND(COUNT(app_eth) *100.0/ (SELECT COUNT(*) FROM {table}) )) AS freq_pct
    ,COUNT(app_eth)
 
    FROM {table}
    WHERE race_1='5'
    GROUP BY year, app_eth
    ORDER BY app_eth"""
eth_freq_df = compile_dfs(lar_tables, "eth_freq", sql)

   year app_eth freq_pct     count
0  2004       1        6   2149601
1  2004       2       47  15871035
2  2004       3        3    905144
3  2004       4        4   1425353
   year app_eth freq_pct     count
0  2005       1        9   3256402
1  2005       2       51  18466941
2  2005       3        2    667167
3  2005       4        0     70594
   year app_eth freq_pct     count
0  2006       1       10   3422984
1  2006       2       48  16370968
2  2006       3        1    406375
3  2006       4        0     38495
   year app_eth freq_pct     count
0  2007       1        9   2493161
1  2007       2       53  14177951
2  2007       3        1    289297
3  2007       4        0      4244
   year app_eth freq_pct     count
0  2008       1        8   1364997
1  2008       2       59  10364588
2  2008       3        1    168244
3  2008       4        0      1492
   year app_eth freq_pct     count
0  2009       1        6   1100150
1  2009       2       62  12120047
2  2009       3        1    191141
3  2009       4        0      1423
   year app_eth freq_pct     count
0  2010       1        6    938275
1  2010       2       64  10798516
2  2010       3        1    184073
3  2010       4        0      1233
   year app_eth freq_pct    count
0  2011       1        6   870837
1  2011       2       62  9288018
2  2011       3        1   145375
3  2011       4        0     1312
   year app_eth freq_pct     count
0  2012       1        6   1076540
1  2012       2       64  11983033
2  2012       3        1    184900
3  2012       4        0      2136
   year app_eth freq_pct     count
0  2013       1        6   1096963
1  2013       2       62  10521259
2  2013       3        1    170705
3  2013       4        0       722
   year app_eth freq_pct    count
0  2014       1        7   881693
1  2014       2       59  6949820
2  2014       3        1   114342
3  2014       4        0      622
   year app_eth freq_pct    count
0  2015       1        8  1080142
1  2015       2       58  8337962
2  2015       3        1   125538
3  2015       4        0     2235
   year app_eth freq_pct    count
0  2016       1        8  1249540
1  2016       2       58  9411334
2  2016       3        1   148366
3  2016       4        0     2572

In [13]:
sql=""" SELECT year, purchaser
    ,(ROUND(COUNT(purchaser) *100.0/ (SELECT COUNT(*) FROM {table}) )) AS freq_pct
    ,COUNT(purchaser)
    FROM {table}
    WHERE loan_type='1'
    GROUP BY year, purchaser
    ORDER BY purchaser"""
purchaser_freq_df = compile_dfs(lar_tables, "purch_freq_conv", sql)

   year purchaser freq_pct     count
0  2004         0       56  18920361
1  2004         1        9   3084973
2  2004         3        6   1870443
3  2004         4        0       227
4  2004         5        2    699346
   year purchaser freq_pct     count
0  2005         0       58  21054927
1  2005         1        7   2490477
2  2005         3        4   1602956
3  2005         4        0       487
4  2005         5        5   1843428
   year purchaser freq_pct     count
0  2006         0       59  20011670
1  2006         1        6   2211935
2  2006         3        4   1358151
3  2006         4        0       269
4  2006         5        5   1740088
   year purchaser freq_pct     count
0  2007         0       60  15947076
1  2007         1        9   2403593
2  2007         3        6   1530757
3  2007         4        0       227
4  2007         5        2    655258
   year purchaser freq_pct    count
0  2008         0       51  8859581
1  2008         1       10  1835136
2  2008         3        6  1120770
3  2008         4        0      104
4  2008         5        0    16124
   year purchaser freq_pct    count
0  2009         0       38  7359243
1  2009         1       12  2416405
2  2009         3       10  1866283
3  2009         4        0      209
4  2009         5        0    16245
   year purchaser freq_pct    count
0  2010         0       37  6219615
1  2010         1       13  2110426
2  2010         3        9  1475679
3  2010         4        0      125
4  2010         5        0    30461
   year purchaser freq_pct    count
0  2011         0       38  5675046
1  2011         1       15  2182121
2  2011         3        8  1233335
3  2011         4        0      207
4  2011         5        0    62887
   year purchaser freq_pct    count
0  2012         0       36  6843175
1  2012         1       19  3523438
2  2012         3       10  1817540
3  2012         4        0      179
4  2012         5        0    61764
   year purchaser freq_pct    count
0  2013         0       38  6515350
1  2013         1       18  2983405
2  2013         3       10  1756380
3  2013         4        0      108
4  2013         5        0    56013
   year purchaser freq_pct    count
0  2014         0       42  4978008
1  2014         1       13  1556551
2  2014         3        9  1040715
3  2014         4        0      453
4  2014         5        0    36756
   year purchaser freq_pct    count
0  2015         0       39  5628728
1  2015         1       13  1854655
2  2015         3        9  1331641
3  2015         4        0       87
4  2015         5        0    31406
   year purchaser freq_pct    count
0  2016         0       39  6303032
1  2016         1       13  2172223
2  2016         3        9  1523254
3  2016         4        0      897
4  2016         5        0    25135

In [14]:
#purchaser type for loan_type>1, aciton=1: count, percent
sql = """
    SELECT year, purchaser
    ,(COUNT(purchaser) *100.0/ (SELECT COUNT(*) FROM {table}) ) AS freq_pct
    FROM {table}
    WHERE loan_type!='1'
    GROUP BY year, purchaser
    ORDER BY purchaser"""
purchaser_not_conv_df = compile_dfs(lar_tables, "purch_not_conv", sql)

   year purchaser                freq_pct
0  2004         0      1.7896238988484075
1  2004         1  0.01650288961136854628
2  2004         2      2.4720466324679218
3  2004         3  0.00415694408589067166
4  2004         4  0.00119237094309167334
   year purchaser                freq_pct
0  2005         0      1.3133497010031150
1  2005         1  0.01021196450548253301
2  2005         2      1.3299390003125854
3  2005         3  0.00241652987626379575
4  2005         4  0.00070767844276510704
   year purchaser                freq_pct
0  2006         0      1.1793112413395731
1  2006         1  0.00780258208374908067
2  2006         2      1.2723683779061324
3  2006         3  0.00341966824533543198
4  2006         4  0.00093689540968094027
   year purchaser                freq_pct
0  2007         0      2.0459370748928586
1  2007         1  0.01393523773343302090
2  2007         2      1.7640677741654100
3  2007         3  0.00520558464108355255
4  2007         4  0.00054302861363821232
   year purchaser                freq_pct
0  2008         0      8.6294181130370698
1  2008         1  0.03741321207170742058
2  2008         2      6.8499718217308074
3  2008         3  0.02073441467916701842
4  2008         4  0.00142602576885605354
   year purchaser                freq_pct
0  2009         0     11.2084492409815795
1  2009         1  0.04105342810429001172
2  2009         2     10.0149521121672021
3  2009         3  0.05453015076968536399
4  2009         4  0.00216097562072108947
   year purchaser                freq_pct
0  2010         0     10.7163869584371519
1  2010         1  0.01561606448909322958
2  2010         2      9.1919761126744421
3  2010         3  0.02846827658581254276
4  2010         4  0.00170726087304306715
   year purchaser                freq_pct
0  2011         0     11.0668364545110216
1  2011         1  0.01958213245464411839
2  2011         2      9.3758431754960237
3  2011         3  0.01870331801423357385
4  2011         4  0.00151612262238765699
   year purchaser                freq_pct
0  2012         0      9.7227606074873583
1  2012         1  0.02400269495710364850
2  2012         2      9.9476265568888668
3  2012         3  0.01193468813907975235
4  2012         4  0.00171181183764280630
   year purchaser                freq_pct
0  2013         0      9.6778309863608768
1  2013         1  0.01283698782901908074
2  2013         2     10.1430424848458595
3  2013         3  0.00995689440584172288
4  2013         4  0.00169866734550664576
   year purchaser                freq_pct
0  2014         0     11.6133314875107196
1  2014         1  0.01170480580800884917
2  2014         2     10.8038304861182687
3  2014         3  0.01310264592608760382
4  2014         4  0.00289672891939211807
   year purchaser                freq_pct
0  2015         0     11.9704325476840981
1  2015         1  0.00646297556786527847
2  2015         2     12.5148460601311351
3  2015         3  0.00711692573296682441
4  2015         4  0.00229578249450542723
   year purchaser                freq_pct
0  2016         0     12.3242184665915671
1  2016         1  0.00576134665386068084
2  2016         2     12.6554499798475319
3  2016         3  0.00490418562140531919
4  2016         4  0.00215514773874490931

In [15]:
#inst name for lien=1, loantype=1, propertytype=1, spread>=15: frequency, percent
sql = """
    SELECT year, CONCAT(agency, rid)
    ,(COUNT(CONCAT(agency, rid)) *100.0/ (SELECT COUNT(*) FROM {table}) ) AS freq_pct
    ,COUNT(CONCAT(agency, rid))

    FROM {table}
    WHERE loan_type='1' AND lien = '1' AND property_type = '1' AND 
    CAST(rate_spread AS FLOAT) >= 15 AND rate_spread NOT LIKE '%NA%' AND rate_spread NOT LIKE '% %'
    GROUP BY year, CONCAT(agency, rid)"""

rate_spread_conv_df = compile_dfs(lar_tables, "rate_spread_conv_1st", sql)

   year       concat                    freq_pct  count
0  2004  30000011813  0.000011893974494680033353      4
1  2004  50000008323  0.000005946987247340016677      2
2  2004  71738100008      0.00013975420031249039     47
3  2004  30000015728  0.000002973493623670008338      1
4  2004  30000005702  0.000002973493623670008338      1
   year       concat                    freq_pct  count
0  2005  20001993734  0.000013714698503199748878      5
1  2005  756-2148606  0.000002742939700639949776      1
2  2005  20000139843  0.000002742939700639949776      1
3  2005  20000659855  0.000005485879401279899551      2
4  2005  10000017927  0.000010971758802559799103      4
   year       concat                    freq_pct  count
0  2006  77271100003  0.000008783394465758815015      3
1  2006  701-0550261  0.000017566788931517630029      6
2  2006  50000006160  0.000008783394465758815015      3
3  2006  77479600006  0.000002927798155252938338      1
4  2006  20001445943  0.000002927798155252938338      1
   year       concat                    freq_pct  count
0  2007  30000005685  0.000003745024921642843564      1
1  2007  30000012616  0.000003745024921642843564      1
2  2007  30000031286  0.000003745024921642843564      1
3  2007  40000018039  0.000003745024921642843564      1
4  2007  738-3434794  0.000003745024921642843564      1
   year       concat                    freq_pct  count
0  2008  30000026799  0.000005704103075424214146      1
1  2008  30000022139  0.000011408206150848428291      2
2  2008  10000024579  0.000005704103075424214146      1
3  2008  720-4636482  0.000005704103075424214146      1
4  2008  723-2425397      0.00058181851369326984    102
   year       concat                    freq_pct  count
0  2009  10000022706  0.000005108689410688154768      1
1  2009  70471809999  0.000010217378821376309536      2
2  2009  30000022308  0.000005108689410688154768      1
3  2009  50000003025  0.000005108689410688154768      1
4  2009  30000005694  0.000010217378821376309536      2
   year       concat                    freq_pct  count
0  2010  30000018389  0.000005969443612038696321      1
1  2010  10000023920  0.000005969443612038696321      1
2  2010  10000014740  0.000047755548896309570570      8
3  2010  20000813572  0.000005969443612038696321      1
4  2010  20001187001  0.000005969443612038696321      1
   year       concat                    freq_pct  count
0  2011  10000014740  0.000013417014357412893724      2
1  2011  30000001884  0.000006708507178706446862      1
2  2011  30000011492  0.000006708507178706446862      1
3  2011  50000000649  0.000006708507178706446862      1
4  2011  733-0865281  0.000013417014357412893724      2
   year       concat                    freq_pct  count
0  2012  738-2749215  0.000005332747157765751722      1
1  2012  363-1131381  0.000005332747157765751722      1
2  2012  30000012610  0.000005332747157765751722      1
3  2012  30000001884  0.000005332747157765751722      1
4  2012  77811300008  0.000005332747157765751722      1
   year       concat                    freq_pct  count
0  2013  30000034953  0.000005877741679953791546      1
1  2013  757-1100416  0.000005877741679953791546      1
2  2013  30000031905  0.000005877741679953791546      1
3  2013  50000004024  0.000005877741679953791546      1
4  2013  733-0962918  0.000005877741679953791546      1
   year       concat                    freq_pct  count
0  2014  10000014740  0.000008420723602884064151      1
1  2014  10000014328  0.000008420723602884064151      1
   year       concat                    freq_pct  count
0  2015  722-3747694  0.000006956916650016446151      1
1  2015  50000060600  0.000006956916650016446151      1
2  2015  30000009935  0.000006956916650016446151      1
   year       concat                    freq_pct  count
0  2016  739-1813773  0.000006122578803252583254      1
1  2016  742-1739728  0.000018367736409757749761      3
2  2016  795-4623407  0.000006122578803252583254      1
3  2016  761-1306242  0.000006122578803252583254      1
4  2016  733-0975529  0.000006122578803252583254      1

In [16]:
#inst name for lien=1, loantype=1, propertytype=2, spread>=15: frequency, percent
sql = """ SELECT year, CONCAT(agency, rid)
    ,(COUNT(CONCAT(agency, rid)) *100.0/ (SELECT COUNT(*) FROM {table}) ) AS freq_pct
    ,COUNT(CONCAT(agency, rid))

    FROM {table}
    WHERE loan_type='1' AND lien = '1' AND property_type = '2' AND CAST(rate_spread AS FLOAT) >= 15 
    AND rate_spread NOT LIKE '%NA%'AND rate_spread NOT LIKE '% %'
    GROUP BY year, CONCAT(agency, rid)"""
rate_spread_manu_df = compile_dfs(lar_tables, "rate_spread_manu_1st", sql)

   year       concat                    freq_pct  count
0  2004  10000023892  0.000002973493623670008338      1
1  2004  30000020100  0.000002973493623670008338      1
2  2004  30000000057      0.00010109878320478028     34
3  2004  30000010320  0.000002973493623670008338      1
4  2004  30000013881  0.000002973493623670008338      1
   year       concat                    freq_pct  count
0  2005  20001993734  0.000005485879401279899551      2
1  2005  30000008801  0.000002742939700639949776      1
2  2005  10000007899  0.000002742939700639949776      1
3  2005  71928200004  0.000002742939700639949776      1
4  2005  10000017927  0.000008228819101919849327      3
   year       concat                    freq_pct  count
0  2006  30000022094  0.000005855596310505876676      2
1  2006  30000016114  0.000002927798155252938338      1
2  2006  30000000384  0.000002927798155252938338      1
3  2006  338-3589255  0.000002927798155252938338      1
4  2006  20000397755  0.000002927798155252938338      1
   year       concat                    freq_pct  count
0  2007  77162800002  0.000029960199373142748516      8
1  2007  10000018606  0.000003745024921642843564      1
2  2007  30000001265  0.000003745024921642843564      1
3  2007  20000374653  0.000011235074764928530693      3
4  2007  30000005415  0.000029960199373142748516      8
   year       concat                    freq_pct  count
0  2008  30000008904  0.000005704103075424214146      1
1  2008  30000026799  0.000005704103075424214146      1
2  2008  10000014124  0.000005704103075424214146      1
3  2008  30000009259  0.000005704103075424214146      1
4  2008  30000010378  0.000005704103075424214146      1
   year       concat                    freq_pct  count
0  2009  10000010807  0.000005108689410688154768      1
1  2009  20000509811  0.000015326068232064464304      3
2  2009  30000010608  0.000005108689410688154768      1
3  2009  754-1779092      0.00028097791758784851     55
4  2009  50000066834  0.000005108689410688154768      1
   year       concat                    freq_pct  count
0  2010  20000539032  0.000005969443612038696321      1
1  2010  30000015289  0.000005969443612038696321      1
2  2010  10000017927  0.000005969443612038696321      1
3  2010  10000024604  0.000005969443612038696321      1
4  2010  30000020100  0.000005969443612038696321      1
   year       concat                    freq_pct  count
0  2011  10000014740  0.000006708507178706446862      1
1  2011  30000016114  0.000006708507178706446862      1
2  2011  30000009923  0.000013417014357412893724      2
3  2011  10000002036  0.000006708507178706446862      1
4  2011  10000014479  0.000006708507178706446862      1
   year       concat                    freq_pct  count
0  2012  30000011817  0.000005332747157765751722      1
1  2012  786-0628165      0.00037862504820136837     71
2  2012  20000711520  0.000015998241473297255166      3
3  2012  363-1131381      0.00035196131241253961     66
4  2012  10000010807  0.000005332747157765751722      1
   year       concat                    freq_pct  count
0  2013  325-1531922  0.000005877741679953791546      1
1  2013  10000013347  0.000005877741679953791546      1
2  2013  726-2984095      0.00024686515055805924     42
3  2013  30000034517  0.000005877741679953791546      1
4  2013  50000066751  0.000005877741679953791546      1
   year       concat                    freq_pct  count
0  2014  30000090040  0.000008420723602884064151      1
1  2014  30000011817  0.000008420723602884064151      1
2  2014  30000010606  0.000008420723602884064151      1
3  2014  30000028348  0.000016841447205768128302      2
4  2014  30000016114  0.000016841447205768128302      2
   year       concat                    freq_pct  count
0  2015  50000066752  0.000006956916650016446151      1
1  2015  50000066751  0.000006956916650016446151      1
2  2015  30000011817  0.000006956916650016446151      1
3  2015  30000020568  0.000006956916650016446151      1
   year       concat                    freq_pct  count
0  2016  30000016114  0.000006122578803252583254      1
1  2016  50000066752  0.000006122578803252583254      1
2  2016  50000066751  0.000006122578803252583254      1
3  2016  30000011817  0.000006122578803252583254      1
4  2016  30000034726  0.000006122578803252583254      1

In [17]:
sql = """
    SELECT year, denial_1
    ,(COUNT(denial_1)) *100.0/ (SELECT COUNT(*) FROM {table} WHERE action='3' AND loan_type='1') AS freq_pct
    FROM {table}
    WHERE loan_type='1' AND action='3'
    GROUP BY year, denial_1
    ORDER BY denial_1
"""
denial_freq_df = compile_dfs(lar_tables, "denial_freq", sql)

   year denial_1                freq_pct
0  2004              20.2742955769659419
1  2004        1     10.3221666973456415
2  2004        2  0.82150404851784792639
3  2004        3     23.7880286610304764
4  2004        4      9.0782293423931950
   year denial_1                freq_pct
0  2005              28.4504426610811403
1  2005        1      8.6761571903503538
2  2005        2  0.80318326290536673283
3  2005        3     19.0951173325864316
4  2005        4      8.7890753437168918
   year denial_1                freq_pct
0  2006              36.6788375934671176
1  2006        1      9.4056996570874119
2  2006        2  0.81936399507552399909
3  2006        3     18.0697731046754366
4  2006        4      9.7391290088331783
   year denial_1                freq_pct
0  2007              35.8031753848714899
1  2007        1     10.9454538518361812
2  2007        2  0.78092757583849790007
3  2007        3     17.9463347471587658
4  2007        4     12.3084139375674110
   year denial_1                freq_pct
0  2008              36.5080062006612844
1  2008        1     12.5067875735880503
2  2008        2  0.62003626012909083849
3  2008        3     18.0171025946601434
4  2008        4     15.7073562662222262
   year denial_1                freq_pct
0  2009              23.1014865613603187
1  2009        1     17.7174490415180098
2  2009        2  0.80817113653136856151
3  2009        3     16.5397389682923534
4  2009        4     23.9930537065895169
   year denial_1                freq_pct
0  2010              18.2318896488763619
1  2010        1     18.7019362344365551
2  2010        2  0.96746079915493612032
3  2010        3     16.7231355424698123
4  2010        4     19.9418109694704515
   year denial_1                freq_pct
0  2011              18.1376829273512505
1  2011        1     17.8015224863138881
2  2011        2  0.87236924894384734902
3  2011        3     18.6916012857882730
4  2011        4     19.3001998878573477
   year denial_1                freq_pct
0  2012              19.2222417975579016
1  2012        1     16.7108466934999345
2  2012        2  0.88287775504027248867
3  2012        3     19.3829703614359864
4  2012        4     17.9812257472884396
   year denial_1                freq_pct
0  2013              24.0485977360336399
1  2013        1     16.5018115992377480
2  2013        2  0.85021488133121740766
3  2013        3     20.2767564082254295
4  2013        4     15.2396211714854002
   year denial_1                freq_pct
0  2014              31.5554263410125285
1  2014        1     17.3007319180573277
2  2014        2  0.76796137964293249475
3  2014        3     21.5485693187184150
4  2014        4     12.0301181517687601
   year denial_1                freq_pct
0  2015              34.5293291031045823
1  2015        1     17.0580787228186072
2  2015        2  0.72018195778463499790
3  2015        3     19.4293827053182088
4  2015        4     11.8195488721804511
   year denial_1                freq_pct
0  2016              43.8065165207039198
1  2016        1     15.3072714487271179
2  2016        2  0.66791513419526571917
3  2016        3     15.8293987614282509
4  2016        4      9.3238733680085444

In [18]:
#denial1 if loantype=2, action=3: freq, percent, cumulative percent
sql = """
SELECT year, denial_1
    ,COUNT(denial_1) *100.0/ 
    (SELECT COUNT(*) FROM {table} WHERE action='3' AND loan_type='1') AS freq_pct
    FROM {table}
    WHERE loan_type='2' AND action='3'
    GROUP BY year, denial_1
    ORDER by denial_1
"""
denial_loan_type_2_freq_df = compile_dfs(lar_tables, "denial_loan_type_2", sql)

   year denial_1                freq_pct
0  2004               1.0886856755593739
1  2004        1  1.00392182734063921737
2  2004        2  0.11455114393711082223
3  2004        3      2.1608783853686403
4  2004        4  0.31081743636339101373
   year denial_1                freq_pct
0  2005           0.87902509579664273187
1  2005        1  0.69590319728635736858
2  2005        2  0.08701288900284028862
3  2005        3      1.5546369473419587
4  2005        4  0.27833129170408820638
   year denial_1                freq_pct
0  2006               1.0321597838521870
1  2006        1  0.75872640318903987449
2  2006        2  0.07351864429820681479
3  2006        3      1.4937129314347431
4  2006        4  0.32086315186572926647
   year denial_1                freq_pct
0  2007               2.3340545257447699
1  2007        1      1.4639256357163670
2  2007        2  0.13379293731223633120
3  2007        3      2.5950931927532907
4  2007        4  0.78701433838467893443
   year denial_1                freq_pct
0  2008               9.6260944707082429
1  2008        1      4.8137969156154900
2  2008        2  0.36459450044555996867
3  2008        3      5.6297489120889940
4  2008        4      4.2511868688004566
   year denial_1                freq_pct
0  2009              10.9907124611353258
1  2009        1      5.2179245551772169
2  2009        2  0.47904568701448832073
3  2009        3      5.2672035376911747
4  2009        4      6.5609517540768862
   year denial_1                freq_pct
0  2010               7.2654013063428448
1  2010        1      3.8991370180617966
2  2010        2  0.41647237453226199026
3  2010        3      4.3266546817782216
4  2010        4      5.1351598543221316
   year denial_1                freq_pct
0  2011               6.1279864137945166
1  2011        1      2.7422304387178868
2  2011        2  0.31711475055888663485
3  2011        3      2.9846270565603770
4  2011        4      3.2446161712029819
   year denial_1                freq_pct
0  2012               5.1640975124109567
1  2012        1      4.2221492533434490
2  2012        2  0.30132148638605634697
3  2012        3      3.4289875368155482
4  2012        4      2.4826411535480118
   year denial_1                freq_pct
0  2013               6.0222315182574632
1  2013        1      2.3747871532791265
2  2013        2  0.24624497651751527973
3  2013        3      3.2468152333029963
4  2013        4      1.9311763532853238
   year denial_1                freq_pct
0  2014               5.2884444784299496
1  2014        1      1.9086859454442680
2  2014        2  0.20241367056950210735
3  2014        3      2.7023474488130812
4  2014        4      1.5452909334168977
   year denial_1                freq_pct
0  2015               7.0220550935026211
1  2015        1      2.2400446209691567
2  2015        2  0.25154271703118619909
3  2015        3      3.0945801615610942
4  2015        4      1.9447205766740485
   year denial_1                freq_pct
0  2016              10.8767110827232185
1  2016        1      2.2043598405280148
2  2016        2  0.27853120644045314673
3  2016        3      2.7039467667040007
4  2016        4      2.0774639616203689

In [19]:
#denial1 if loanpurpose=3, aciton=3: freq, percent, cumulative percent

sql = """  SELECT year, denial_1
    ,COUNT(denial_1) *100.0/ 
    (SELECT COUNT(*) FROM {table} WHERE action='3' AND loan_type='1') AS freq_pct
    ,COUNT(*)
    FROM {table}
    WHERE purpose='3' AND action='3'
    GROUP BY year, denial_1
    ORDER BY denial_1
    """
denial_purpose_3_df = compile_dfs(lar_tables, "denial_purpose_3", sql)

   year denial_1             freq_pct   count
0  2004           34.0812643407586664  681916
1  2004        1  17.9314022569374162  358781
2  2004        2   1.1441120362165536   22892
3  2004        3  42.2879641832758329  846120
4  2004        4  18.5710294559370429  371579
   year denial_1             freq_pct    count
0  2005           55.9461389717285578  1119400
1  2005        1  15.6092926366904515   312319
2  2005        2   1.1273691770459899    22557
3  2005        3  33.9287293969122169   678864
4  2005        4  18.0437043600904214   361028
   year denial_1             freq_pct    count
0  2006           69.5358429629762906  1391310
1  2006        1  17.4325650110227988   348800
2  2006        2   1.0774404716388460    21558
3  2006        3  31.3207417036633876   626682
4  2006        4  20.9793023275572968   419765
   year denial_1             freq_pct    count
0  2007           71.4957570596140746  1430525
1  2007        1  19.3089647265441289   386344
2  2007        2   1.0507018756500353    21023
3  2007        3  27.3282445037191638   546798
4  2007        4  26.6909663028718252   534047
   year denial_1                freq_pct    count
0  2008              50.4267929727971020  1008966
1  2008        1     14.8798537423788754   297724
2  2008        2  0.58350113676516965514    11675
3  2008        3     14.8247772325103343   296622
4  2008        4     23.0577658628594904   461352
   year denial_1                freq_pct   count
0  2009              25.7742073005862999  515704
1  2009        1     17.3904829590179788  347958
2  2009        2  0.73483659219342950232   14703
3  2009        3     12.2782133420096329  245669
4  2009        4     28.5045927911745640  570335
   year denial_1                freq_pct   count
0  2010              15.9619422316382063  319375
1  2010        1     15.0213933757252532  300556
2  2010        2  0.75462815109355859726   15099
3  2010        3     10.4825791799797386  209741
4  2010        4     19.9755304362689313  399681
   year denial_1                freq_pct   count
0  2011              13.8922749447360701  277964
1  2011        1     12.5257077856294290  250621
2  2011        2  0.58694966596746487623   11744
3  2011        3     10.0847488546135073  201781
4  2011        4     17.8865213986234871  357883
   year denial_1                freq_pct   count
0  2012              17.3140655510424804  346429
1  2012        1     13.8753321708291414  277625
2  2012        2  0.69465373018407649138   13899
3  2012        3     13.3295149618687630  266704
4  2012        4     19.2238010488526643  384640
   year denial_1                freq_pct   count
0  2013              21.0671148755055969  421522
1  2013        1     12.5902302667912135  251912
2  2013        2  0.60909022301988202032   12187
3  2013        3     13.0963144218990601  262038
4  2013        4     14.3531783694254400  287186
   year denial_1                freq_pct   count
0  2014              19.5345185278478729  390857
1  2014        1      8.0496668171025058  161062
2  2014        2  0.31256669030658424182    6254
3  2014        3      8.1479748887099652  163029
4  2014        4      7.6177510291860521  152420
   year denial_1                freq_pct   count
0  2015              25.7069359917994975  514358
1  2015        1      9.0585865128522685  181249
2  2015        2  0.35674784704323605982    7138
3  2015        3      9.0865745759433602  181809
4  2015        4      8.4723365484620809  169519
   year denial_1                freq_pct   count
0  2016              44.3580812783347902  887540
1  2016        1      9.4744591431754357  189570
2  2016        2  0.38078759409112013726    7619
3  2016        3      8.6610060809064934  173294
4  2016        4      7.7806315606393873  155679

In [20]:
# frequency by state
sql = """
SELECT year, state, count(*)
FROM {table}
GROUP BY year, state
ORDER BY count(*) DESC"""
state_freq = compile_dfs(lar_tables, "state_freq", sql)

   year state    count
0  2004    06  5348035
1  2004    12  2411564
2  2004    48  2096810
3  2004    17  1384136
4  2004    36  1313759
   year state    count
0  2005    06  5511038
1  2005    12  3007029
2  2005    48  2145151
3  2005    17  1467571
4  2005    36  1340588
   year state    count
0  2006    06  4919273
1  2006    12  2912471
2  2006    48  2077073
3  2006    17  1386588
4  2006    36  1298124
   year state    count
0  2007    06  3433324
1  2007    12  2009944
2  2007    48  1727705
3  2007    17  1123171
4  2007    36  1011325
   year state    count
0  2008    06  1888396
1  2008    48  1212874
2  2008    12   969544
3  2008    17   767739
4  2008    42   717445
   year state    count
0  2009    06  2198859
1  2009    48  1249002
2  2009    17   852154
3  2009    12   809914
4  2009    42   770928
   year state    count
0  2010    06  2030460
1  2010    48  1095372
2  2010    17   736745
3  2010    12   683767
4  2010    42   676945
   year state    count
0  2011    06  1917516
1  2011    48  1040715
2  2011    12   652336
3  2011    17   621764
4  2011    42   593821
   year state    count
0  2012    06  2548473
1  2012    48  1223359
2  2012    12   921781
3  2012    17   754799
4  2012    42   698185
   year state    count
0  2013    06  2168472
1  2013    48  1255700
2  2013    12   953239
3  2013    17   636903
4  2013    42   619793
   year state    count
0  2014    06  1416054
1  2014    48   996799
2  2014    12   719325
3  2014    17   430112
4  2014    42   420706
   year state    count
0  2015    06  1878495
1  2015    48  1139573
2  2015    12   893206
3  2015    17   517360
4  2015    42   481331
   year state    count
0  2016    06  2235971
1  2016    48  1266767
2  2016    12  1043942
3  2016    17   583019
4  2016    13   547637

In [21]:
#institutions with >10 single family, site-built, first lien, owner occupied, w/ rate spread >6.5 (hoepa)
sql = """
   SELECT year, CONCAT(agency, rid) AS ARID, COUNT(*)
   FROM {table}
   WHERE occupancy = '1' AND property_type='1' AND lien='1' AND CAST(rate_spread AS FLOAT) >6.5 
   AND rate_spread NOT LIKE '%NA%' AND rate_spread NOT LIKE '% %'
   
   GROUP BY year, CONCAT(agency,rid)
   HAVING COUNT(*) > 10
   ORDER BY COUNT(*) DESC
"""
hoepa_first_df = compile_dfs(lar_tables, "hoepa_first_occ_single_fam", sql)

   year         arid  count
0  2004  77756600001   3370
1  2004  152-2113031   2227
2  2004  20001644643   2163
3  2004  775-2921540   2018
4  2004  71958100003   1651
   year         arid  count
0  2005  775-2921540  14665
1  2005  20001644643  14325
2  2005  77604800006  13096
3  2005  77431100008   9671
4  2005  77756600001   8369
   year         arid  count
0  2006  20001644643  45145
1  2006  30000025653  34533
2  2006  70458600405  29703
3  2006  77604800006  25130
4  2006  20003197134  23347
   year         arid  count
0  2007  20001644643  22293
1  2007  10000023160  10814
2  2007  40510528989   9742
3  2007  20001881185   8941
4  2007  20002752527   8097
   year         arid  count
0  2008  20001881185   6611
1  2008  20002751986   5244
2  2008  10000001741   4012
3  2008  20002817118   3678
4  2008  20003197956   3478
   year         arid  count
0  2009  20002817118   2170
1  2009  10000001741   2094
2  2009  20002751986   1431
3  2009  20002751810   1116
4  2009  20001881185    628
   year         arid  count
0  2010  20002817118    554
1  2010  20002751986    268
2  2010  20002751762    178
3  2010  10000014740    174
4  2010  20002751810    159
   year         arid  count
0  2011  927-4318010    736
1  2011  956-1300879    242
2  2011  952-0278518    126
3  2011  10000014740    121
4  2011  980-0671537    117
   year         arid  count
0  2012  927-4318010    252
1  2012  10000014740    103
2  2012  966-0422347     94
3  2012  325-1531922     34
4  2012  980-0671537     32
   year         arid  count
0  2013  10000014740    113
1  2013  966-0476202     93
2  2013  50000066752     54
3  2013  768-0309242     36
4  2013  30000008232     27
   year         arid  count
0  2014  10000014740    114
1  2014  50000066752     78
2  2014  30000016689     24
3  2014  20001014853     18
4  2014  30000008232     17
   year         arid  count
0  2015  720-0304793    462
1  2015  50000066752    127
2  2015  711-3469077    125
3  2015  10000014740     80
4  2015  720-5238443     77
   year         arid  count
0  2016  50000066752    173
1  2016  10000014740     79
2  2016  30000016689     16
3  2016  50000097085     12
4  2016  30000008232     12

In [22]:
#institutions with >10 single family, site-built, first (junior?) lien, owner occupied, w/ rate spread >8.5 (hoepa)
sql = """  SELECT year, CONCAT(agency, rid) AS ARID, COUNT(*)
   FROM {table}
   WHERE occupancy = '1' AND property_type='1' AND lien='2' 
   AND CAST(rate_spread AS FLOAT) >8.5 AND rate_spread NOT LIKE '%NA%' AND rate_spread NOT LIKE '% %'
   
   GROUP BY year, CONCAT(agency,rid)
   HAVING COUNT(*) > 10
   ORDER BY COUNT(*) DESC"""

hoepa_junior_df = compile_dfs(lar_tables, "hoepa_junior_occ_single_fam", sql)

   year         arid  count
0  2004  751-0003820   6027
1  2004  20002751986   4616
2  2004  736-1239445   4085
3  2004  723-2425397   2556
4  2004  77177000002   1960
   year         arid  count
0  2005  20001881185   8715
1  2005  20001993734   6201
2  2005  775-2921540   4803
3  2005  20002751986   4032
4  2005  77699300007   1697
   year         arid  count
0  2006  20001881185   8311
1  2006  20001993734   6020
2  2006  77699300007   4476
3  2006  20002751986   4064
4  2006  77604800006   3649
   year         arid  count
0  2007  20001881185   9308
1  2007  20003197956   6835
2  2007  20002751986   4649
3  2007  120-2096530   2114
4  2007  40510528989   1981
   year         arid  count
0  2008  20002751986   3490
1  2008  20001881185    947
2  2008  20000902270    826
3  2008  20000860473    710
4  2008  20003197956    568
   year         arid  count
0  2009  40000013964    498
1  2009  20002751986    207
2  2009  795-4390985    162
3  2009  20000902270    133
4  2009  10000001741    124
   year         arid  count
0  2010  40000013964    104
1  2010  20002751986     71
2  2010  20000902270     31
3  2010  358-2257419     27
4  2010  20002817118     26
   year         arid  count
0  2011  10000713964    199
1  2011  720-1934942    128
2  2011  927-4318010     44
3  2011  90000451965     22
4  2011  952-0278518     22
   year         arid  count
0  2012  10000713964    644
1  2012  10000712504     28
2  2012  90000451965     17
3  2012  10000706033     11
   year         arid  count
0  2013  10000713964    457
1  2013  795-2960716     43
2  2013  50000067190     19
3  2013  90000619877     15
4  2013  10000706033     15
   year         arid  count
0  2014  10000713964     62
1  2014  10000712504     34
2  2014  50000067190     27
3  2014  20001014853     20
4  2014  50000005631     18
   year         arid  count
0  2015  50000064203     33
1  2015  50000016360     20
2  2015  701-0726495     11
   year         arid  count
0  2016  50000064203     28
1  2016  50000016360     21

In [28]:
#agency, rid, name, prior year app count, count state=00 for institutions w >=500 apps with state=00 
#in the last year submission
sql = """
DROP TABLE IF EXISTS state_counts;
CREATE TEMP TABLE state_counts(
	arid TEXT
	,state_rows INTEGER)
ON COMMIT DROP;

INSERT INTO state_counts
SELECT
	CONCAT(agency, rid)
	,COUNT(*)
FROM
	{table2}
WHERE state='00'
GROUP BY CONCAT(agency, rid)
HAVING count(*) >=500
ORDER BY count(*);

SELECT arid, state_rows, count(l2.*) AS app_count
FROM state_counts l2
LEFT JOIN {table} l1
ON l2.arid = CONCAT(l1.agency, l1.rid)
GROUP BY arid, state_rows"""

state_00_df = compile_dfs(lar_tables[1:], "state_00", sql, table2=True)

Empty DataFrame
Columns: [arid, state_rows, app_count, year]
Index: []
Empty DataFrame
Columns: [arid, state_rows, app_count, year]
Index: []
Empty DataFrame
Columns: [arid, state_rows, app_count, year]
Index: []
Empty DataFrame
Columns: [arid, state_rows, app_count, year]
Index: []
Empty DataFrame
Columns: [arid, state_rows, app_count, year]
Index: []
Empty DataFrame
Columns: [arid, state_rows, app_count, year]
Index: []
Empty DataFrame
Columns: [arid, state_rows, app_count, year]
Index: []
Empty DataFrame
Columns: [arid, state_rows, app_count, year]
Index: []
Empty DataFrame
Columns: [arid, state_rows, app_count, year]
Index: []
Empty DataFrame
Columns: [arid, state_rows, app_count, year]
Index: []
Empty DataFrame
Columns: [arid, state_rows, app_count, year]
Index: []
Empty DataFrame
Columns: [arid, state_rows, app_count, year]
Index: []

In [17]:
#institutions with >=250 applications with action<=3 with all applications having a single race
sql = """
DROP TABLE IF EXISTS lar_counts;
DROP TABLE IF EXISTS race_counts;
CREATE TEMP TABLE lar_counts(
	arid TEXT
	,lender_rows INTEGER)
ON COMMIT DROP;

INSERT INTO lar_counts
SELECT
	CONCAT(agency, rid)
	,COUNT(*)
FROM
	{table}
WHERE action IN ('1', '2', '3')
GROUP BY CONCAT(agency, rid)
HAVING COUNT(*) >=250;

CREATE TEMP TABLE race_counts(
	arid TEXT
	,race_1 VARCHAR
	,race_rows INTEGER)
ON COMMIT DROP;

INSERT INTO race_counts
SELECT
	CONCAT(agency, rid)
	,race_1
	,COUNT(race_1)
FROM 
	{table}
WHERE action IN ('1', '2', '3')
GROUP BY CONCAT(agency, rid), race_1;

SELECT race_counts.arid, race_1, race_rows, lender_rows
FROM race_counts
INNER JOIN lar_counts ON race_counts.arid = lar_counts.arid 
WHERE (CASE WHEN race_rows=lender_rows THEN 1 ELSE 0 END) = 1
GROUP BY race_counts.arid, race_1, race_rows, lender_rows
ORDER BY race_counts.arid DESC"""

single_race_df = compile_dfs(lar_tables, "single_race", sql, table2=None)

          arid race_1  race_rows  lender_rows  year
0  795-4537645      7        286          286  2004
1  77428000003      6        692          692  2004
2  77307200009      6       2345         2345  2004
3  77086400004      6      10403        10403  2004
4  71841100007      6        272          272  2004
          arid race_1  race_rows  lender_rows  year
0  795-4607423      6       2657         2657  2005
1  795-4537645      7        312          312  2005
2  77428000003      6        512          512  2005
3  765-1113581      6        307          307  2005
4  50000008486      5        491          491  2005
          arid race_1  race_rows  lender_rows  year
0  795-4537645      7        302          302  2006
1  77756300009      6       4074         4074  2006
2  765-1113581      6        345          345  2006
3  752-1815063      6        965          965  2006
4  71557900001      6      60908        60908  2006
          arid race_1  race_rows  lender_rows  year
0  77756300009      6       6105         6105  2007
1  765-1113581      7        477          477  2007
2  713-3403204      7        546          546  2007
3  30000001705      5        299          299  2007
4  20003317295      7        280          280  2007
          arid race_1  race_rows  lender_rows  year
0  77756300009      6       6634         6634  2008
1  50000066430      5        296          296  2008
2  50000005799      5        385          385  2008
3  30000005649      6       2570         2570  2008
4  20003317295      7        321          321  2008
          arid race_1  race_rows  lender_rows  year
0  50000066710      5        319          319  2009
1  40000003069      5        968          968  2009
2  30000009631      5        338          338  2009
3  30000005649      6       2376         2376  2009
4  30000001808      5        299          299  2009
          arid race_1  race_rows  lender_rows  year
0  71125900008      5       1528         1528  2010
1  50000066529      5        250          250  2010
2  30000015632      5        265          265  2010
3  30000009631      5        350          350  2010
          arid race_1  race_rows  lender_rows  year
0  920-1511553      7        258          258  2011
1  766-0699600      5        261          261  2011
2  733-0914481      6        473          473  2011
3  71125900008      5       1762         1762  2011
4  10000713138      5        273          273  2011
          arid race_1  race_rows  lender_rows  year
0  780-0312140      7        827          827  2012
1  73833009998      3       4725         4725  2012
2  727-0812934      7        294          294  2012
3  720-1934942      6      41546        41546  2012
4  713-3602661      7        433          433  2012
          arid race_1  race_rows  lender_rows  year
0  780-0312140      7        704          704  2013
1  727-0812934      7        323          323  2013
2  713-3602661      7        278          278  2013
3  50000024802      5        356          356  2013
4  50000024632      5        265          265  2013
          arid race_1  race_rows  lender_rows  year
0  780-0312140      7        733          733  2014
1  727-0812934      7        295          295  2014
2  50000062160      5        349          349  2014
3  30000000893      5        410          410  2014
          arid race_1  race_rows  lender_rows  year
0  780-0312140      7        977          977  2015
1  745-3508295      7        328          328  2015
2  735-2486440      7       6970         6970  2015
          arid race_1  race_rows  lender_rows  year
0  780-0312140      7        785          785  2016
1  745-3508295      7        365          365  2016
2  727-2056826      7       1895         1895  2016

In [25]:
#institutions with >=250 applications with action<=3 with all applications having a single ethnicity

sql="""
DROP TABLE IF EXISTS lar_counts;
DROP TABLE IF EXISTS eth_counts;
CREATE TEMP TABLE lar_counts(
	arid TEXT
	,lender_rows INTEGER)
ON COMMIT DROP;

INSERT INTO lar_counts
SELECT
	CONCAT(agency, rid)
	,COUNT(*)
FROM
	{table}
WHERE action IN ('1', '2', '3')
GROUP BY CONCAT(agency, rid)
HAVING COUNT(*) >=250;

CREATE TEMP TABLE eth_counts(
	arid TEXT
	,app_eth VARCHAR
	,eth_rows INTEGER)
ON COMMIT DROP;
INSERT INTO eth_counts
SELECT
	CONCAT(agency, rid)
	,app_eth
	,COUNT(app_eth)
FROM 
	{table}
WHERE action IN ('1', '2', '3')
GROUP BY CONCAT(agency, rid), app_eth;

SELECT eth_counts.arid, eth_rows, app_eth, lender_rows
FROM eth_counts
INNER JOIN lar_counts ON eth_counts.arid = lar_counts.arid 
WHERE (CASE WHEN eth_rows=lender_rows THEN 1 ELSE 0 END) = 1
ORDER BY eth_counts.arid DESC"""


single_eth_df =  compile_dfs(lar_tables, "single_ethnicity", sql, table2=None)

          arid  eth_rows app_eth  lender_rows  year
0  795-4537645       286       4          286  2004
1  77428000003       692       3          692  2004
2  77086400004     10403       3        10403  2004
3  766-0559119       365       1          365  2004
4  758-2509828      2354       2         2354  2004
          arid  eth_rows app_eth  lender_rows  year
0  79900000375       447       2          447  2005
1  795-4607423      2657       3         2657  2005
2  795-4537645       312       4          312  2005
3  77428000003       512       3          512  2005
4  77339400008       370       2          370  2005
          arid  eth_rows app_eth  lender_rows  year
0  79900000375       277       2          277  2006
1  795-4537645       302       4          302  2006
2  77248700009       645       1          645  2006
3  766-0188856       573       1          573  2006
4  765-1113581       345       3          345  2006
          arid  eth_rows app_eth  lender_rows  year
0  79900000375       275       2          275  2007
1  765-1113581       477       4          477  2007
2  73833709994      1517       2         1517  2007
3  713-3403204       546       4          546  2007
4  50000066865       493       2          493  2007
          arid  eth_rows app_eth  lender_rows  year
0  77248700009      1175       1         1175  2008
1  73833709994      1812       2         1812  2008
2  50000060823       301       2          301  2008
3  50000024464       253       2          253  2008
4  40000002808       575       2          575  2008
          arid  eth_rows app_eth  lender_rows  year
0  766-0690568       259       1          259  2009
1  50000061758       287       2          287  2009
2  50000060884       278       2          278  2009
3  50000006778       316       2          316  2009
4  40000005337       474       2          474  2009
          arid  eth_rows app_eth  lender_rows  year
0  77248700009       781       1          781  2010
1  71125900008      1528       1         1528  2010
2  50000067012       264       2          264  2010
3  50000061758       323       2          323  2010
4  40000004652       300       2          300  2010
          arid  eth_rows app_eth  lender_rows  year
0  966-0436232       295       1          295  2011
1  920-1511553       258       4          258  2011
2  79900000375       452       2          452  2011
3  77409900001       268       2          268  2011
4  733-0914481       473       3          473  2011
          arid  eth_rows app_eth  lender_rows  year
0  780-0312140       827       4          827  2012
1  77020900006       251       2          251  2012
2  74264609991       308       2          308  2012
3  727-0812934       294       4          294  2012
4  713-3602661       433       4          433  2012
          arid  eth_rows app_eth  lender_rows  year
0  780-0312140       704       4          704  2013
1  766-0690568       273       1          273  2013
2  727-0812934       323       4          323  2013
3  713-3602661       278       4          278  2013
4  50000024632       265       2          265  2013
          arid  eth_rows app_eth  lender_rows  year
0  780-0312140       733       4          733  2014
1  727-0812934       295       4          295  2014
2  50000068587       251       2          251  2014
3  50000062160       349       2          349  2014
4  50000003576       274       2          274  2014
          arid  eth_rows app_eth  lender_rows  year
0  780-0312140       977       4          977  2015
1  766-0736233       314       1          314  2015
2  766-0674421       368       1          368  2015
3  745-3508295       328       4          328  2015
4  735-2486440      6970       4         6970  2015
          arid  eth_rows app_eth  lender_rows  year
0  780-0312140       785       4          785  2016
1  766-0736233       501       1          501  2016
2  745-3508295       365       4          365  2016
3  727-2056826      1895       4         1895  2016

In [35]:
#institutions with >=50 applications with action<=3 with all applications having a single sex
sql="""
DROP TABLE IF EXISTS lar_counts;
DROP TABLE IF EXISTS sex_counts;
CREATE TEMP TABLE lar_counts(
	arid TEXT
	,lender_rows INTEGER)
ON COMMIT DROP;

INSERT INTO lar_counts
SELECT
	CONCAT(agency, rid)
	,COUNT(*)
FROM
	{table}
WHERE action IN ('1', '2', '3')
GROUP BY CONCAT(agency, rid)
HAVING COUNT(*) >=50;

CREATE TEMP TABLE sex_counts(
	arid TEXT
	,app_sex VARCHAR
	,sex_rows INTEGER)
ON COMMIT DROP;
INSERT INTO sex_counts
SELECT
	CONCAT(agency, rid)
	,app_sex
	,COUNT(app_sex)
FROM 
	{table}
WHERE action IN ('1', '2', '3')
GROUP BY CONCAT(agency, rid), app_sex;

SELECT sex_counts.arid, sex_rows, app_sex, lender_rows
FROM sex_counts
INNER JOIN lar_counts ON sex_counts.arid = lar_counts.arid 
WHERE (CASE WHEN sex_rows=lender_rows THEN 1 ELSE 0 END) = 1
GROUP BY sex_counts.arid, app_sex, sex_rows, lender_rows
ORDER BY sex_counts.arid DESC
"""
#print(sql.format(table=lar_tables[-1:]))
single_sex_df = compile_dfs(lar_tables, "single_sex", sql, table2=None)

          arid  sex_rows app_sex  lender_rows  year
0  795-4537645       286       4          286  2004
1  77428000003       692       3          692  2004
2  71723400002       166       4          166  2004
3  71589900007       824       3          824  2004
4  70495100001        66       4           66  2004
          arid  sex_rows app_sex  lender_rows  year
0  795-4537645       312       4          312  2005
1  77428000003       512       3          512  2005
2  71723400002       145       4          145  2005
3  70495100001        97       4           97  2005
4  313-3399559        58       4           58  2005
          arid  sex_rows app_sex  lender_rows  year
0  795-4537645       302       4          302  2006
1  71723400002       131       4          131  2006
2  70495100001       166       4          166  2006
3  313-3399559        51       4           51  2006
4  30000016022       366       4          366  2006
          arid  sex_rows app_sex  lender_rows  year
0  71723400002       136       4          136  2007
1  713-3403204       546       4          546  2007
2  70495100001       201       4          201  2007
3  335-1805251        71       4           71  2007
4  313-3399559        50       4           50  2007
          arid  sex_rows app_sex  lender_rows  year
0  723-2413444        80       4           80  2008
1  356-2224037       168       4          168  2008
2  30000005649      2570       3         2570  2008
3  20003317295       321       4          321  2008
4  131-1712553       387       4          387  2008
          arid  sex_rows app_sex  lender_rows  year
0  723-2413444        66       4           66  2009
1  356-2224037       120       4          120  2009
2  30000005649      2376       3         2376  2009
3  20003317295       251       4          251  2009
4  20001074736        83       4           83  2009
          arid  sex_rows app_sex  lender_rows  year
0  731-1712553       125       4          125  2010
1  727-0812934       185       4          185  2010
2  72066009995        67       4           67  2010
3  356-2224037       162       4          162  2010
4  335-1805251        83       4           83  2010
          arid  sex_rows app_sex  lender_rows  year
0  956-2224037       218       4          218  2011
1  952-1075143       122       4          122  2011
2  920-1511553       258       4          258  2011
3  731-1712553       175       4          175  2011
4  727-0812934       233       4          233  2011
          arid  sex_rows app_sex  lender_rows  year
0  956-2224037       150       4          150  2012
1  952-1075143       125       4          125  2012
2  794-3159818       200       4          200  2012
3  780-0312140       827       4          827  2012
4  754-1690128       102       4          102  2012
          arid  sex_rows app_sex  lender_rows  year
0  956-2224037       141       4          141  2013
1  952-1075143       107       4          107  2013
2  913-1500700        65       4           65  2013
3  794-3159818       106       4          106  2013
4  780-0312140       704       4          704  2013
          arid  sex_rows app_sex  lender_rows  year
0  956-2224037       118       4          118  2014
1  952-1075143        99       4           99  2014
2  780-0312140       733       4          733  2014
3  754-1690128       128       4          128  2014
4  745-3508295       234       4          234  2014
          arid  sex_rows app_sex  lender_rows  year
0  956-2224037       142       4          142  2015
1  952-1075143       131       4          131  2015
2  952-0945480        66       4           66  2015
3  794-3159818        84       4           84  2015
4  780-0312140       977       4          977  2015
          arid  sex_rows app_sex  lender_rows  year
0  956-2224037       160       4          160  2016
1  952-1075143       151       4          151  2016
2  90000112819        50       4           50  2016
3  794-3159818        82       4           82  2016
4  780-0312140       785       4          785  2016

In [36]:
#institutions with >=50 applications with action<=3 with all applications having a single co-app sex or no co-app
sql="""
DROP TABLE IF EXISTS lar_counts;
DROP TABLE IF EXISTS sex_counts;
CREATE TEMP TABLE lar_counts(
	arid TEXT
	,lender_rows INTEGER)
ON COMMIT DROP;

INSERT INTO lar_counts
SELECT
	CONCAT(agency, rid)
	,COUNT(*)
FROM
	{table}
WHERE action IN ('1', '2', '3')
GROUP BY CONCAT(agency, rid)
HAVING COUNT(*) >=50;

CREATE TEMP TABLE sex_counts(
	arid TEXT
	,co_app_sex VARCHAR
	,co_sex_rows INTEGER)
ON COMMIT DROP;
INSERT INTO sex_counts
SELECT
	CONCAT(agency, rid)
	,co_app_sex
	,COUNT(co_app_sex)
FROM 
	{table}
WHERE action IN ('1', '2', '3')
GROUP BY CONCAT(agency, rid), co_app_sex;

SELECT sex_counts.arid, co_sex_rows, co_app_sex, lender_rows
FROM sex_counts
INNER JOIN lar_counts ON sex_counts.arid = lar_counts.arid 
WHERE (CASE WHEN co_sex_rows=lender_rows THEN 1 ELSE 0 END) = 1
ORDER BY sex_counts.arid DESC"""
single_cosex_df = compile_dfs(lar_tables, "single_cosex", sql, table2=None)

          arid  co_sex_rows co_app_sex  lender_rows  year
0  795-4830942          550          5          550  2004
1  795-4537645          286          4          286  2004
2  77428000003          692          5          692  2004
3  71723400002          166          4          166  2004
4  70495100001           66          4           66  2004
          arid  co_sex_rows co_app_sex  lender_rows  year
0  795-4537645          312          4          312  2005
1  77428000003          512          5          512  2005
2  77307200009         1269          5         1269  2005
3  71723400002          145          5          145  2005
4  70495100001           97          4           97  2005
          arid  co_sex_rows co_app_sex  lender_rows  year
0  795-4659941         1201          5         1201  2006
1  795-4537645          302          4          302  2006
2  794-3306143          149          5          149  2006
3  775-2958981         2706          5         2706  2006
4  734-1180767         1396          5         1396  2006
          arid  co_sex_rows co_app_sex  lender_rows  year
0  73833709994         1517          5         1517  2007
1  733-0668958         1543          5         1543  2007
2  71723400002          136          4          136  2007
3  713-3403204          546          4          546  2007
4  70495100001          201          4          201  2007
          arid  co_sex_rows co_app_sex  lender_rows  year
0  73833709994         1812          5         1812  2008
1  723-2413444           80          4           80  2008
2  356-2224037          168          4          168  2008
3  30000005649         2570          5         2570  2008
4  20003317295          321          4          321  2008
          arid  co_sex_rows co_app_sex  lender_rows  year
0  723-2413444           66          4           66  2009
1  713-3602661           66          4           66  2009
2  356-2224037          120          5          120  2009
3  30000005649         2376          5         2376  2009
4  20003317295          251          4          251  2009
          arid  co_sex_rows co_app_sex  lender_rows  year
0  731-1712553          125          4          125  2010
1  727-0812934          185          4          185  2010
2  72066009995           67          4           67  2010
3  720-4459706          442          5          442  2010
4  71047300008           58          5           58  2010
          arid  co_sex_rows co_app_sex  lender_rows  year
0  956-2224037          218          5          218  2011
1  920-1511553          258          4          258  2011
2  731-1712553          175          4          175  2011
3  727-0812934          233          4          233  2011
4  72066009995           63          4           63  2011
          arid  co_sex_rows co_app_sex  lender_rows  year
0  956-2224037          150          5          150  2012
1  795-4441070          282          5          282  2012
2  794-3159818          200          4          200  2012
3  780-0312140          827          5          827  2012
4  754-1690128          102          4          102  2012
          arid  co_sex_rows co_app_sex  lender_rows  year
0  956-2224037          141          5          141  2013
1  794-3159818          106          4          106  2013
2  788-0209429         1971          5         1971  2013
3  780-0312140          704          5          704  2013
4  754-1690128          202          3          202  2013
          arid  co_sex_rows co_app_sex  lender_rows  year
0  956-2224037          118          5          118  2014
1  780-0312140          733          5          733  2014
2  754-1690128          128          4          128  2014
3  747-0833531           63          5           63  2014
4  745-3508295          234          4          234  2014
          arid  co_sex_rows co_app_sex  lender_rows  year
0  956-2224037          142          5          142  2015
1  952-0945480           66          4           66  2015
2  794-3159818           84          5           84  2015
3  780-0312140          977          5          977  2015
4  754-1690128           52          3           52  2015
          arid  co_sex_rows co_app_sex  lender_rows  year
0  956-2224037          160          5          160  2016
1  90003138146           58          5           58  2016
2  794-3159818           82          5           82  2016
3  780-0312140          785          5          785  2016
4  758-1865166          706          5          706  2016

In [39]:
#institutions with >=50 applications with action<=3 with >50% applications to same sex couples
sql="""
DROP TABLE IF EXISTS lar_counts;
DROP TABLE IF EXISTS sex_counts;
CREATE TEMP TABLE lar_counts(
	arid TEXT
	,lender_rows INTEGER)
ON COMMIT DROP;

INSERT INTO lar_counts
SELECT
	CONCAT(agency, rid)
	,COUNT(*)
FROM
	{table}
WHERE action IN ('1', '2', '3')
GROUP BY CONCAT(agency, rid)
HAVING COUNT(*) >=50;

DROP TABLE IF EXISTS sex_count;
CREATE TEMP TABLE sex_counts(
	arid TEXT
	,same_sex_count INTEGER)
ON COMMIT DROP;
INSERT INTO sex_counts
SELECT 
	CONCAT(agency, rid)
	,(CASE WHEN app_sex = co_app_sex THEN COUNT(app_sex) ELSE 0 END)
FROM 
	{table}
WHERE action IN ('1', '2', '3') AND app_sex IN ('1', '2') AND co_app_sex IN ('1', '2')
GROUP BY CONCAT(agency,rid), app_sex, co_app_sex;

SELECT lar_counts.arid, lender_rows, same_sex_count, (sex_counts.same_sex_count *1.0 / lender_rows)*100.0 AS same_sex_pct
FROM lar_counts 
INNER JOIN sex_counts
ON lar_counts.arid = sex_counts.arid
WHERE (sex_counts.same_sex_count *1.0 / lender_rows)*100.0 >50
"""
same_sex_df = compile_dfs(lar_tables, "same_sex_50_pct", sql, table2=None)

          arid  lender_rows  same_sex_count              same_sex_pct  year
0  10000014254          252             152  60.317460317460317460000  2004
          arid  lender_rows  same_sex_count              same_sex_pct  year
0  10000014254          177             100  56.497175141242937853000  2005
Empty DataFrame
Columns: [arid, lender_rows, same_sex_count, same_sex_pct, year]
Index: []
          arid  lender_rows  same_sex_count              same_sex_pct  year
0  10000014254          182              96  52.747252747252747253000  2007
          arid  lender_rows  same_sex_count              same_sex_pct  year
0  10000014254          212             112  52.830188679245283019000  2008
          arid  lender_rows  same_sex_count              same_sex_pct  year
0  10000014254          212             115  54.245283018867924528000  2009
Empty DataFrame
Columns: [arid, lender_rows, same_sex_count, same_sex_pct, year]
Index: []
Empty DataFrame
Columns: [arid, lender_rows, same_sex_count, same_sex_pct, year]
Index: []
Empty DataFrame
Columns: [arid, lender_rows, same_sex_count, same_sex_pct, year]
Index: []
          arid  lender_rows  same_sex_count              same_sex_pct  year
0  784-1496821         4634            2824  60.940871817004747518000  2013
Empty DataFrame
Columns: [arid, lender_rows, same_sex_count, same_sex_pct, year]
Index: []
Empty DataFrame
Columns: [arid, lender_rows, same_sex_count, same_sex_pct, year]
Index: []
Empty DataFrame
Columns: [arid, lender_rows, same_sex_count, same_sex_pct, year]
Index: []

In [44]:
#institions with >=100 originations, where >=75% are home purchase or refi 
#and >75% are junior liens or unsecured
sql="""
DROP TABLE IF EXISTS lar_counts;
CREATE TEMP TABLE lar_counts(
	arid TEXT
	,lender_rows INTEGER)
ON COMMIT DROP;

INSERT INTO lar_counts
SELECT
	CONCAT(agency, rid)
	,COUNT(*)
FROM
	{table}
WHERE action = '1'
GROUP BY CONCAT(agency, rid)
HAVING COUNT(*) >=100;

DROP TABLE IF EXISTS type_counts;
CREATE TEMP TABLE type_counts(
	arid TEXT
	,purch_refi_count INTEGER)
ON COMMIT DROP;
INSERT INTO type_counts
SELECT 
	DISTINCT CONCAT(agency, rid)
	,(CASE WHEN purpose IN ('1', '3') THEN COUNT(purpose) ELSE 0 END)
FROM 
	{table}
WHERE action = '1'
GROUP BY CONCAT(agency,rid), purpose, lien;

DROP TABLE IF EXISTS junior_counts;
CREATE TEMP TABLE junior_counts(
	arid TEXT
	,junior_count INTEGER)
ON COMMIT DROP;
INSERT INTO junior_counts
SELECT 
	DISTINCT CONCAT(agency, rid)
	,(CASE WHEN lien !='1' THEN COUNT(lien) ELSE 0 END)
FROM 
	{table}
WHERE action = '1'
GROUP BY CONCAT(agency,rid), purpose, lien;

SELECT lar_counts.arid, lender_rows, (purch_refi_count*1.0/lender_rows)*100 AS purch_pct, (junior_count*1.0/lender_rows)*100 AS junior_pct
FROM lar_counts 
INNER JOIN type_counts
ON lar_counts.arid = type_counts.arid
INNER JOIN junior_counts
ON lar_counts.arid = junior_counts.arid
WHERE (purch_refi_count*1.0/lender_rows)*10 >75 AND (junior_count*1.0/lender_rows)*100>75
ORDER BY (purch_refi_count*1.0/lender_rows)*100, (junior_count*1.0/lender_rows)*100 DESC"""
junior_or_purch_df = compile_dfs(lar_tables, "junior_or_purch", sql, table2=None)

Empty DataFrame
Columns: [arid, lender_rows, purch_pct, junior_pct, year]
Index: []
Empty DataFrame
Columns: [arid, lender_rows, purch_pct, junior_pct, year]
Index: []
Empty DataFrame
Columns: [arid, lender_rows, purch_pct, junior_pct, year]
Index: []
Empty DataFrame
Columns: [arid, lender_rows, purch_pct, junior_pct, year]
Index: []
Empty DataFrame
Columns: [arid, lender_rows, purch_pct, junior_pct, year]
Index: []
Empty DataFrame
Columns: [arid, lender_rows, purch_pct, junior_pct, year]
Index: []
Empty DataFrame
Columns: [arid, lender_rows, purch_pct, junior_pct, year]
Index: []
Empty DataFrame
Columns: [arid, lender_rows, purch_pct, junior_pct, year]
Index: []
Empty DataFrame
Columns: [arid, lender_rows, purch_pct, junior_pct, year]
Index: []
Empty DataFrame
Columns: [arid, lender_rows, purch_pct, junior_pct, year]
Index: []
Empty DataFrame
Columns: [arid, lender_rows, purch_pct, junior_pct, year]
Index: []
Empty DataFrame
Columns: [arid, lender_rows, purch_pct, junior_pct, year]
Index: []
Empty DataFrame
Columns: [arid, lender_rows, purch_pct, junior_pct, year]
Index: []

In [47]:
#institutions with >=25 loans and >=50% of loans are over 10 million
sql="""
DROP TABLE IF EXISTS type_counts;
DROP TABLE IF EXISTS lar_counts;
CREATE TEMP TABLE lar_counts(
	arid TEXT
	,lender_rows INTEGER)
ON COMMIT DROP;

INSERT INTO lar_counts
SELECT
	DISTINCT CONCAT(agency, rid)
	,COUNT(*)
FROM
	{table}
WHERE action = '1'
GROUP BY CONCAT(agency, rid)
HAVING COUNT(*) >=25;

DROP TABLE IF EXISTS type_count;
CREATE TEMP TABLE type_counts(
	arid TEXT
	,amount_count INTEGER)
ON COMMIT DROP;
INSERT INTO type_counts
SELECT 
	DISTINCT CONCAT(agency, rid)
	,(CASE WHEN CAST(amount AS INTEGER)>10000 THEN COUNT(amount) ELSE 0 END)
FROM 
	{table}
WHERE action = '1'
GROUP BY CONCAT(agency,rid), amount;

SELECT lar_counts.arid, lender_rows, amount_count, (amount_count*1.0/lender_rows)*100 AS larg_pct
FROM lar_counts 
INNER JOIN type_counts
ON lar_counts.arid = type_counts.arid
WHERE (amount_count*1.0/lender_rows)*100 >50
ORDER BY (amount_count*1.0/lender_rows)*100 DESC"""

ten_mil_df = compile_dfs(lar_tables, "ten_mil", sql, table2=None)

Empty DataFrame
Columns: [arid, lender_rows, amount_count, larg_pct, year]
Index: []
Empty DataFrame
Columns: [arid, lender_rows, amount_count, larg_pct, year]
Index: []
Empty DataFrame
Columns: [arid, lender_rows, amount_count, larg_pct, year]
Index: []
Empty DataFrame
Columns: [arid, lender_rows, amount_count, larg_pct, year]
Index: []
Empty DataFrame
Columns: [arid, lender_rows, amount_count, larg_pct, year]
Index: []
Empty DataFrame
Columns: [arid, lender_rows, amount_count, larg_pct, year]
Index: []
Empty DataFrame
Columns: [arid, lender_rows, amount_count, larg_pct, year]
Index: []
Empty DataFrame
Columns: [arid, lender_rows, amount_count, larg_pct, year]
Index: []
Empty DataFrame
Columns: [arid, lender_rows, amount_count, larg_pct, year]
Index: []
Empty DataFrame
Columns: [arid, lender_rows, amount_count, larg_pct, year]
Index: []
Empty DataFrame
Columns: [arid, lender_rows, amount_count, larg_pct, year]
Index: []
Empty DataFrame
Columns: [arid, lender_rows, amount_count, larg_pct, year]
Index: []
Empty DataFrame
Columns: [arid, lender_rows, amount_count, larg_pct, year]
Index: []

In [50]:
#institutions with >=50 home purchase, first-lien owner-occupied loans 
#where income is NA in >25% of loans
sql="""
DROP TABLE IF EXISTS lar_counts;
DROP TABLE IF EXISTS type_counts;
CREATE TEMP TABLE lar_counts(
	arid TEXT
	,lender_rows INTEGER)
ON COMMIT DROP;

INSERT INTO lar_counts
SELECT
	DISTINCT CONCAT(agency, rid)
	,COUNT(*)
FROM
	{table}
WHERE action = '1' AND purpose='1' AND lien='1' AND occupancy='1'
GROUP BY CONCAT(agency, rid)
HAVING COUNT(*) >=50;

DROP TABLE IF EXISTS type_count;
CREATE TEMP TABLE type_counts(
	arid TEXT
	,na_income_count INTEGER)
ON COMMIT DROP;
INSERT INTO type_counts
SELECT 
	DISTINCT CONCAT(agency, rid)
	,(CASE WHEN income LIKE '%NA%' THEN COUNT(income) ELSE 0 END)
FROM 
	{table}
WHERE action = '1' AND purpose='1' AND lien='1' AND occupancy='1'
GROUP BY CONCAT(agency,rid), income;

SELECT lar_counts.arid, lender_rows, na_income_count, (na_income_count*1.0/lender_rows)*100 AS na_pct
FROM lar_counts 
INNER JOIN type_counts
ON lar_counts.arid = type_counts.arid
WHERE (na_income_count*1.0/lender_rows)*100 >50
ORDER BY (na_income_count*1.0/lender_rows)*100 DESC"""
na_income_df = compile_dfs(lar_tables, "na_income", sql, table2=None)

          arid  lender_rows  na_income_count                    na_pct  year
0  774-2832600           93               93  100.00000000000000000000  2004
1  765-0367752          257              257  100.00000000000000000000  2004
2  77343000001         3397             3395   99.94112452163673829800  2004
3  71665100001         1532             1412   92.16710182767624020900  2004
4  77935900009         1199              971   80.98415346121768140100  2004
          arid  lender_rows  na_income_count                    na_pct  year
0  765-0367752          243              243  100.00000000000000000000  2005
1  77428000003          409              409  100.00000000000000000000  2005
2  77951500006          671              656   97.76453055141579731700  2005
3  71665100001         1491             1396   93.62843729040912139500  2005
4  71045600000         2486             2253   90.62751407884151247000  2005
          arid  lender_rows  na_income_count                    na_pct  year
0  765-0367752           65               65  100.00000000000000000000  2006
1  77935900009          633              580   91.62717219589257503900  2006
2  71665100001         1194             1063   89.02847571189279732000  2006
3  313-3432069          479              338   70.56367432150313152400  2006
4  794-3123360         1543             1054   68.30848995463383020100  2006
          arid  lender_rows  na_income_count                    na_pct  year
0  720-1415601           65               65  100.00000000000000000000  2007
1  765-0367752           81               81  100.00000000000000000000  2007
2  313-3432069          473              389   82.24101479915433403800  2007
3  77935900009          147              116   78.91156462585034013600  2007
4  777-0463885           62               35   56.45161290322580645200  2007
          arid  lender_rows  na_income_count                   na_pct  year
0  313-3432069          564              518  91.84397163120567375900  2008
1  77806400002          561              455  81.10516934046345811100  2008
2  72467100004          880              558  63.40909090909090909100  2008
          arid  lender_rows  na_income_count                    na_pct  year
0  426-4237382           81               81  100.00000000000000000000  2009
1  795-4578022          102               89   87.25490196078431372500  2009
2  313-3432069          393              203   51.65394402035623409700  2009
          arid  lender_rows  na_income_count                    na_pct  year
0  426-4237382           72               72  100.00000000000000000000  2010
1  720-0142846           75               67   89.33333333333333333300  2010
2  20000197478          553              494   89.33092224231464737800  2010
3  313-3432069          353              213   60.33994334277620396600  2010
4  20002182786           70               38   54.28571428571428571400  2010
          arid  lender_rows  na_income_count                   na_pct  year
0  90000197478         1246             1233  98.95666131621187801000  2011
1  10000024716           68               67  98.52941176470588235300  2011
2  720-8009003          158              104  65.82278481012658227800  2011
3  90002182786           70               36  51.42857142857142857100  2011
          arid  lender_rows  na_income_count                    na_pct  year
0  720-0304793           62               62  100.00000000000000000000  2012
1  90000197478         1314             1313   99.92389649923896499200  2012
2  10000024716           88               87   98.86363636363636363600  2012
3  720-8009003          541              437   80.77634011090573012900  2012
          arid  lender_rows  na_income_count                    na_pct  year
0  30000058181          285              285  100.00000000000000000000  2013
1  720-0304793           54               54  100.00000000000000000000  2013
2  720-1832276           56               56  100.00000000000000000000  2013
3  777-0672274           74               74  100.00000000000000000000  2013
4  90000197478         2546             2543   99.88216810683424980400  2013
          arid  lender_rows  na_income_count                    na_pct  year
0  720-0304793           83               83  100.00000000000000000000  2014
1  720-1832276          137              137  100.00000000000000000000  2014
2  777-0672274          457              457  100.00000000000000000000  2014
3  90000197478         1203             1131   94.01496259351620947600  2014
4  780-0860209           52               40   76.92307692307692307700  2014
          arid  lender_rows  na_income_count                    na_pct  year
0  720-0304793          103              103  100.00000000000000000000  2015
1  720-1832276           51               51  100.00000000000000000000  2015
2  90000197478          797              768   96.36135508155583437900  2015
3  777-0672274          292              190   65.06849315068493150700  2015
          arid  lender_rows  na_income_count                    na_pct  year
0  720-0304793           91               91  100.00000000000000000000  2016
1  90000197478          529              477   90.17013232514177693800  2016

In [55]:
#institutions with >=50 home purchase, first-lien owner-occupied loans 
#where income >=1 million in >50% of loans
sql = """
DROP TABLE IF EXISTS income_mil;
CREATE TEMP TABLE income_mil(
	arid TEXT
	,lender_rows INTEGER)
ON COMMIT DROP;

INSERT INTO income_mil
SELECT
	DISTINCT CONCAT(agency, rid)
	,COUNT(*)
FROM
	{table}
WHERE CAST(income AS INTEGER) >=1000 AND income NOT LIKE '%NA%' AND income NOT LIKE '%na%' 
AND action='1'
GROUP BY CONCAT(agency, rid);

SELECT 
	agency, rid, income_mil.lender_rows, 
    count(*),(income_mil.lender_rows*1.0 / (SELECT COUNT(*) FROM {table}))*100
FROM {table} lar
LEFT JOIN income_mil ON CONCAT(lar.agency, lar.rid) = income_mil.arid
WHERE purpose='1' AND lien='1' AND occupancy='1' 
GROUP BY agency, rid, lender_rows
HAVING income_mil.lender_rows / (SELECT COUNT(*) FROM {table} ) > .5;"""
income_1_mil_df = compile_dfs(lar_tables, "income_1_mil", sql, table2=None)

Empty DataFrame
Columns: [agency, rid, lender_rows, count, ?column?, year]
Index: []
Empty DataFrame
Columns: [agency, rid, lender_rows, count, ?column?, year]
Index: []
Empty DataFrame
Columns: [agency, rid, lender_rows, count, ?column?, year]
Index: []
Empty DataFrame
Columns: [agency, rid, lender_rows, count, ?column?, year]
Index: []
Empty DataFrame
Columns: [agency, rid, lender_rows, count, ?column?, year]
Index: []
Empty DataFrame
Columns: [agency, rid, lender_rows, count, ?column?, year]
Index: []
Empty DataFrame
Columns: [agency, rid, lender_rows, count, ?column?, year]
Index: []
Empty DataFrame
Columns: [agency, rid, lender_rows, count, ?column?, year]
Index: []
Empty DataFrame
Columns: [agency, rid, lender_rows, count, ?column?, year]
Index: []
Empty DataFrame
Columns: [agency, rid, lender_rows, count, ?column?, year]
Index: []
Empty DataFrame
Columns: [agency, rid, lender_rows, count, ?column?, year]
Index: []
Empty DataFrame
Columns: [agency, rid, lender_rows, count, ?column?, year]
Index: []
Empty DataFrame
Columns: [agency, rid, lender_rows, count, ?column?, year]
Index: []

In [58]:
#institutions with >=50 home purchase, first-lien owner-occupied loans where income < 10k in >50% of loans
sql="""--#institutions with >=50 home purchase, first-lien owner-occupied loans where income < 10k in >50% of loans
DROP TABLE IF EXISTS lender_counts;
CREATE TEMP TABLE lender_counts(
	arid TEXT
	,lender_rows INTEGER)
ON COMMIT DROP;

INSERT INTO lender_counts
SELECT
	DISTINCT CONCAT(agency, rid)
	,COUNT(*)
FROM
	{table}
WHERE action = '1'
GROUP BY CONCAT(agency, rid);

SELECT DISTINCT
	agency, rid, lender_rows, (count(*)*1.0 / lender_rows)*100 as pct_low_inc
FROM {table} lar
LEFT JOIN lender_counts ON lender_counts.arid = CONCAT(lar.agency, lar.rid)
WHERE purpose = '1' AND lien = '1' AND occupancy = '1' AND 
CAST(income AS INTEGER) <10 AND income NOT LIKE '%NA%' AND income NOT LIKE '%na%'
GROUP BY agency, rid, lender_rows
HAVING COUNT(*) >= 50 AND (count(*)*1.0 / lender_rows)*100 > 50;"""

income_10k_df = compile_dfs(lar_tables, "income_10k", sql, table2=None)

Empty DataFrame
Columns: [agency, rid, lender_rows, pct_low_inc, year]
Index: []
  agency         rid  lender_rows              pct_low_inc  year
0      7  7162800002         1272  94.88993710691823899400  2005
Empty DataFrame
Columns: [agency, rid, lender_rows, pct_low_inc, year]
Index: []
Empty DataFrame
Columns: [agency, rid, lender_rows, pct_low_inc, year]
Index: []
Empty DataFrame
Columns: [agency, rid, lender_rows, pct_low_inc, year]
Index: []
Empty DataFrame
Columns: [agency, rid, lender_rows, pct_low_inc, year]
Index: []
Empty DataFrame
Columns: [agency, rid, lender_rows, pct_low_inc, year]
Index: []
Empty DataFrame
Columns: [agency, rid, lender_rows, pct_low_inc, year]
Index: []
Empty DataFrame
Columns: [agency, rid, lender_rows, pct_low_inc, year]
Index: []
Empty DataFrame
Columns: [agency, rid, lender_rows, pct_low_inc, year]
Index: []
Empty DataFrame
Columns: [agency, rid, lender_rows, pct_low_inc, year]
Index: []
Empty DataFrame
Columns: [agency, rid, lender_rows, pct_low_inc, year]
Index: []
Empty DataFrame
Columns: [agency, rid, lender_rows, pct_low_inc, year]
Index: []

In [65]:
#institutions with >=100 FHA first-lien home purchase loans and none that are higher-priced
#
sql = """SELECT
	DISTINCT CONCAT(agency, rid)
	,COUNT(*) AS loan_count
	,(CASE WHEN rate_spread NOT LIKE '%NA%' AND rate_spread NOT LIKE '%na%' 
    AND CAST(rate_spread AS FLOAT)>1.5 THEN COUNT(*) ELSE 0 END) AS high_price_count
FROM
	{table}
WHERE action = '1' AND loan_type = '2' AND lien = '1' AND purpose = '1' 
GROUP BY CONCAT(agency, rid), rate_spread
HAVING COUNT(*) >=100 AND 
(CASE WHEN rate_spread NOT LIKE '%NA%' AND rate_spread NOT LIKE '%na%' 
    AND CAST(rate_spread AS FLOAT)>1.5 THEN COUNT(*) ELSE 0 END) <1;"""
fha_high_priced_df = compile_dfs(lar_tables, "fha_high_priced", sql, table2=None)

        concat  loan_count  high_price_count  year
0  77196900005         209                 0  2004
1  77692500004         104                 0  2004
2  77479600006         310                 0  2004
3  184-1106939         976                 0  2004
4  71474600000        1707                 0  2004
        concat  loan_count  high_price_count  year
0  77257500009         590                 0  2005
1  30000032489         197                 0  2005
2  10000024444         258                 0  2005
3  20003340967        1722                 0  2005
4  77184500000         980                 0  2005
        concat  loan_count  high_price_count  year
0  73028209994         344                 0  2006
1  77868600006         139                 0  2006
2  77840400007         146                 0  2006
3  77638200000         220                 0  2006
4  77184500000         523                 0  2006
        concat  loan_count  high_price_count  year
0  77765600003         168                 0  2007
1  783-0345906         298                 0  2007
2  73435709992         277                 0  2007
3  77257500009         559                 0  2007
4  30000035139         118                 0  2007
        concat  loan_count  high_price_count  year
0  20000983448         373                 0  2008
1  77527300003        2018                 0  2008
2  10000013679        1625                 0  2008
3  71164400002         158                 0  2008
4  20000233031        4604                 0  2008
        concat  loan_count  high_price_count  year
0  70870209991         164                 0  2009
1  702-0793125         609                 0  2009
2  726-0758174         143                 0  2009
3  71074700007         696                 0  2009
4  77166300005         273                 0  2009
        concat  loan_count  high_price_count  year
0  30000027423         682                 0  2010
1  73027509990        9366                 0  2010
2  720-2470783         108                 0  2010
3  30000014078         142                 0  2010
4  704-3554142         264                 0  2010
        concat  loan_count  high_price_count  year
0  773-1577221        1423                 0  2011
1  77332300002         101                 0  2011
2  735-1616238         350                 0  2011
3  50000068613         244                 0  2011
4  772-1505298         254                 0  2011
        concat  loan_count  high_price_count  year
0  10000708070         134                 0  2012
1  10000015435         374                 0  2012
2  795-4535105         577                 0  2012
3  726-4461592         101                 0  2012
4  20000933975         369                 0  2012
        concat  loan_count  high_price_count  year
0  971-0544232        1462                 0  2013
1  720-0960457        1143                 0  2013
2  784-1496821         570                 0  2013
3  71821100000         331                 0  2013
4  320-8872754         223                 0  2013
        concat  loan_count  high_price_count  year
0  20000933975         122                 0  2014
1  30000027423         409                 0  2014
2  776-0578435         472                 0  2014
3  786-0415227        1795                 0  2014
4  761-1392032         170                 0  2014
        concat  loan_count  high_price_count  year
0  720-0976388         122                 0  2015
1  741-1718186         442                 0  2015
2  791-1780488        2093                 0  2015
3  50000001884         111                 0  2015
4  90000664756         242                 0  2015
        concat  loan_count  high_price_count  year
0  90002735146        1236                 0  2016
1  20002915461         176                 0  2016
2  20000636771         239                 0  2016
3  733-0231744         202                 0  2016
4  761-1306242        1291                 0  2016

In [68]:
#institutions with >=100 manufactured loans and none that are higher-priced
sql = """SELECT
	DISTINCT CONCAT(agency, rid)
	,COUNT(*)
	,(CASE WHEN rate_spread NOT LIKE '%NA%' AND rate_spread NOT LIKE '%na%'
    AND CAST(rate_spread AS FLOAT) >1.5 THEN COUNT(*) ELSE 0 END) AS first_lien_high
	,(CASE WHEN rate_spread NOT LIKE '%NA%' AND rate_spread NOT LIKE '%na%'
    AND CAST(rate_spread AS FLOAT) >3.5 THEN COUNT(*) ELSE 0 END) AS junior_lien_high
FROM
	{table}
WHERE action = '1' AND property_type='2'
GROUP BY CONCAT(agency, rid), rate_spread
HAVING COUNT(*) >=100 AND 
((CASE WHEN rate_spread NOT LIKE '%NA%' AND rate_spread NOT LIKE '%na%'
AND CAST(rate_spread AS FLOAT) >1.5 THEN COUNT(*) ELSE 0 END) <1 
OR 
(CASE WHEN rate_spread NOT LIKE '%NA%' AND rate_spread NOT LIKE '%na%' 
AND CAST(rate_spread AS FLOAT) >3.5 THEN COUNT(*) ELSE 0 END)<1 );"""
manufactured_high_priced_df = compile_dfs(lar_tables, "manu_high_priced", sql, table2=None)

        concat  count  first_lien_high  junior_lien_high  year
0  72007800007    170                0                 0  2004
1  77952900006   1015                0                 0  2004
2  20001072246    527                0                 0  2004
3  10000007745    647                0                 0  2004
4  40000007101    200                0                 0  2004
        concat  count  first_lien_high  junior_lien_high  year
0  723-2425397    102                0                 0  2005
1  73833009998    117                0                 0  2005
2  10000015108    125                0                 0  2005
3  40000004410    409                0                 0  2005
4  77499100008   3006                0                 0  2005
        concat  count  first_lien_high  junior_lien_high  year
0  184-1106939    107                0                 0  2006
1  71556900003    772                0                 0  2006
2  20000542649    173                0                 0  2006
3  10000024141    229                0                 0  2006
4  71522600000    152                0                 0  2006
        concat  count  first_lien_high  junior_lien_high  year
0  752-1815063    134                0                 0  2007
1  72323700008    139                0                 0  2007
2  77545800001    166                0                 0  2007
3  10000004341    106                0                 0  2007
4  10000009541    124                0                 0  2007
        concat  count  first_lien_high  junior_lien_high  year
0  116-1245395    114                0                 0  2008
1  20001881185    100                0                 0  2008
2  77515900008   1042                0                 0  2008
3  40000008083    130                0                 0  2008
4  30000011813    368                0                 0  2008
        concat  count  first_lien_high  junior_lien_high  year
0  775-2888829    225                0                 0  2009
1  10000023446    665                0                 0  2009
2  30000003514    175                0                 0  2009
3  733-0975529    165                0                 0  2009
4  722-3554558    589                0                 0  2009
        concat  count  first_lien_high  junior_lien_high  year
0  10000013679    179                0                 0  2010
1  10000013044   5316                0                 0  2010
2  10000008531    410                0                 0  2010
3  30000009846   1375                0                 0  2010
4  10000013688    104                0                 0  2010
        concat  count  first_lien_high  junior_lien_high  year
0  30000015934    145                0                 0  2011
1  30000016780    105                0                 0  2011
2  20001445943    102                0                 0  2011
3  50000024382    449                0                 0  2011
4  90002253891    120                0                 0  2011
        concat  count  first_lien_high  junior_lien_high  year
0  90000233031    299                0                 0  2012
1  30000021292    127                0                 0  2012
2  727-0730985    120                0                 0  2012
3  938-3615473    251                0                 0  2012
4  50000011570    112                0                 0  2012
        concat  count  first_lien_high  junior_lien_high  year
0  90000972590    209                0                 0  2013
1  90000143662    640                0                 0  2013
2  50000003238    110                0                 0  2013
3  30000012437    283                0                 0  2013
4  20002353595    138                0                 0  2013
        concat  count  first_lien_high  junior_lien_high  year
0  761-1355156    153                0                 0  2014
1  90000617677    804                0                 0  2014
2  720-8745846    307                0                 0  2014
3  90000379920    242                0                 0  2014
4  90000808176    158                0                 0  2014
        concat  count  first_lien_high  junior_lien_high  year
0  90000075633    279                0                 0  2015
1  50000024382    535                0                 0  2015
2  30000028489    131                0                 0  2015
3  775-3170028    369                0                 0  2015
4  90000606046    129                0                 0  2015
        concat  count  first_lien_high  junior_lien_high  year
0  10000706707    123                0                 0  2016
1  734-2000096    109                0                 0  2016
2  90000276579    162                0                 0  2016
3  762-0997810    258                0                 0  2016
4  30000057633    119                0                 0  2016

In [71]:
#institutions with at least 100 loans and >50% are higher priced
sql = """--institutions with at least 100 loans and >50% are higher priced
DROP TABLE IF EXISTS lender_counts;
CREATE TEMP TABLE lender_counts(
	arid TEXT
	,lender_rows INTEGER)
ON COMMIT DROP;

INSERT INTO lender_counts
SELECT
	DISTINCT CONCAT(agency, rid)
	,COUNT(*)
FROM {table}
WHERE action = '1'
GROUP BY agency, rid;

SELECT
	DISTINCT CONCAT(agency, rid)
	,lender_rows
	,(CASE WHEN rate_spread NOT LIKE '%NA%' AND rate_spread NOT LIKE '%na%' 
    AND CAST(rate_spread AS FLOAT) >1.5 AND lien = '1' THEN COUNT(*) ELSE 0 END) AS first_lien_high
	,(CASE WHEN rate_spread NOT LIKE '%NA%' AND rate_spread NOT LIKE '%na%' 
    AND CAST(rate_spread AS FLOAT) >3.5 AND lien = '2' THEN COUNT(*) ELSE 0 END) AS junior_lien_high
	,(((CASE WHEN rate_spread NOT LIKE '%NA%' AND rate_spread NOT LIKE '%na%' 
    AND CAST(rate_spread AS FLOAT) >1.5 THEN COUNT(*) ELSE 0 END) + 
	(CASE WHEN rate_spread NOT LIKE '%NA%' AND rate_spread NOT LIKE '%na%' 
    AND CAST(rate_spread AS FLOAT) >3.5 AND lien = '2' THEN COUNT(*) ELSE 0 END))*1.0 
    / lender_rows) *100 AS high_priced_pct
FROM
	{table}
LEFT JOIN lender_counts ON lender_counts.arid = CONCAT(agency, rid)
WHERE action = '1' AND rate_spread NOT LIKE '%NA%' AND rate_spread NOT LIKE '%na%' AND lender_rows >=100
GROUP BY CONCAT(agency, rid), rate_spread, lien, lender_rows
HAVING ((((CASE WHEN rate_spread NOT LIKE '%NA%' AND rate_spread NOT LIKE '%na%' 
    AND CAST(rate_spread AS FLOAT) >1.5 THEN COUNT(*) ELSE 0 END) + 
	(CASE WHEN rate_spread NOT LIKE '%NA%' AND rate_spread NOT LIKE '%na%' 
    AND CAST(rate_spread AS FLOAT) >3.5 AND lien = '2' 
    THEN COUNT(*) ELSE 0 END))*1.0 / lender_rows) *100) > 50
"""
half_high_priced = compile_dfs(lar_tables, "half_high_priced", sql, table2=None)

        concat  lender_rows  first_lien_high  junior_lien_high  \
0  50000006912          219                0                96
1  50000022637          103              103                 0
2  50000068239          257                0               133
3  77059200001          229              220                 0
4  77987800001          482              480                 0

            high_priced_pct  year
0   87.67123287671232876700  2004
1  100.00000000000000000000  2004
2      103.5019455252918300  2004
3   96.06986899563318777300  2004
4   99.58506224066390041500  2004
        concat  lender_rows  first_lien_high  junior_lien_high  \
0  50000019269          161                0               119
1  50000061387          152                0                42
2  70828200015          357              357                 0
3  77059200001          115              115                 0

            high_priced_pct  year
0      147.8260869565217400  2005
1   55.26315789473684210500  2005
2  100.00000000000000000000  2005
3  100.00000000000000000000  2005

KeyboardInterrupt:

In [ ]:
#Amount for all products together
amount_all_df = get_lar_stats("amount", lar_tables)
amount_all_df.to_csv("../output/amounts_all.csv", sep="|", index=False)

In [ ]:
#amount for multifamily
multi_where = """WHERE property_type = '3' """
amount_multi_df = get_lar_stats("amount", lar_tables, where=multi_where)
amount_multi_df.to_csv("../output/amount_multi.csv", sep="|", index=False)

In [ ]:
#amount for manufactured
manu_where = """WHERE property_type = '2' """
amount_manu_df = get_lar_stats("amount", lar_tables, where=manu_where)
amount_manu.to_csv("../output/amount_manufactured.csv", sep="|", index=False)

In [ ]:
#amount for all single family
single_where = """WHERE property_type = '1' """
amount_single_df = get_lar_stats("amount", lar_tables, where=single_where)
amount_single_df.to_csv("../output/amount_single.csv", sep="|", index=False)

In [ ]:
#income for all products together
income_all_df = get_lar_stats("income", lar_tables)
income_all_df.to_csv("../output/income_all.csv", sep="|", index=False)

In [ ]:
#income for multifamily
multi_where = """WHERE property_type = '3' """
income_multi_df = get_lar_stats("income", lar_tables, where=multi_where)
income_multi_df.to_csv("../output/income_multi.csv", sep="|", index=False)

In [ ]:
#income for manufactured
manu_where = """WHERE property_type = '2' """
income_manu_df = get_lar_stats("income", lar_tables, where=manu_where)
income_manu_df

In [ ]:
#income for all single family
single_where = """WHERE property_type = '1' """
income_single_df = get_lar_stats("income", lar_tables, where=single_where)
income_single_df.to_csv("../output/income_single_fam.csv", sep="|", index=False)

In [ ]:
#sort HMDA data by census tract to determine the geographic dispersion of lending among the various census tracts in the institution's assessment area, including low- and moderate-income tracts.
#https://philadelphiafed.org/-/media/community-development/data-dashboard/pdfs/hmda-documentation.pdf?la=en

In [ ]:
#ethnicity if race=5: frequency, percent, cumulative percent
#income for action=1: percentiles, mean, stdev, skew, kurtosis
#income for action=3: percentiles, mean, stdev, skew, kurtosis
#income for action=1, loan_type=1: percentiles, mean, stdev, skew, kurtosis
#income for action=1, loan_type=2: percentiles, mean, stdev, skew, kurtosis